{% extends "base.html" %}{% load mi_tags %}{% load url from future %}
{% block title %}Math Insight thread: {{thread}}{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}

{% block content %}
<h3>Thread: {{thread}}</h3>


<p>{{ thread.description }} </p>
{{ thread.render_html_string|safe }}

{% if include_edit_link %}<p><a href="{% url 'mithreads-thread-edit' thread.code %}">Edit thread</a></p>{%endif%}


{% endblock %}


{% block rightcolumn %}
<h2><a href="{% url 'mithreads-list' %}" class="normaltext">Threads</a></h2>
<ul class="linklist">
  {% for other_thread in thread_list %}
  <li><a href="{% url 'mithreads-thread' other_thread.code %}" title="{{other_thread.description}}">{{other_thread}}</a></li>
  {% endfor %}
</ul>
{% endblock %}
