{% load thread_tags %}

<li id='thread_section_{{id}}'><a id='s{{id}}' class="anchor"></a>{{thread_section.name}}
{% if thread_section.thread_contents.all %}
<ul id='thread_content_section_{{id}}' class='threadcontent'>
{% for content in thread_section.thread_contents.all %}
{% thread_content content %}
{% endfor %}
</ul>
{% endif %}

{% if thread_section.child_sections.all %}
<{{ltag}} class="threadsections">
{% for section in thread_section.child_sections.all %}
{% thread_section section %}
{% endfor %}
</{{ltag}}>
{% endif %}

</li>
