{% load thread_tags %}

<a id="s{{id}}" class="anchor"></a><span id="thread_section_heading_{{id}}"><span id="thread_section_name_{{id}}">{{thread_section.name}}</span>
<span id="thread_section_commands_{{id}}">{% if move_left %}<a onclick="if(commands_enabled){post_edit_section({{id}},'dec_level');}" class="edit_link" id="thread_section_left_{{id}}">[left]</a>{% endif %}
{% if move_right %}<a onclick="if(commands_enabled){post_edit_section({{id}},'inc_level');}" class="edit_link" id="thread_section_right_{{id}}">[right]</a>{% endif %}
{% if move_up %}<a onclick="if(commands_enabled){post_edit_section({{id}},'move_up');}" class="edit_link" id="thread_section_up_{{id}}">[up]</a>{% endif %}
{% if move_down %}<a onclick="if(commands_enabled){post_edit_section({{id}},'move_down');}" class="edit_link" id="thread_section_down_{{id}}">[down]</a>{% endif %}
<a onclick="if(commands_enabled){toggle_delete_section_warning({{id}})}" class="edit_link" id="thread_section_delete_{{id}}">[delete]</a>
<a onclick="if(commands_enabled){toggle_edit_section_form({{id}})}" class="edit_link" id="thread_section_edit_{{id}}">[change name]</a></span></span>
  <span id="edit_section_form_container_{{id}}" style="display: none">
  <form id="edit_section_form_{{id}}" action="" method="post" accept-charset="utf-8" style="display: inline">
<input id="edit_section_form_{{id}}_section_name" maxlength="200" size="50" name="section_name" type="text" value="{{thread_section.name}}" /><br/>
<input type="submit" value="Change name"> <input type="button" value="Cancel" onclick="toggle_edit_section_form({{id}})"></form></span>

  <div id="delete_section_form_{{id}}" style="display: none" class="thread_info_box">
    <h5>Confirm delete section</h5>
    <p>Are you sure you want to delete the section: {{thread_section.name}}?</p>
    <p>This will delete all subsections and remove the content from the thread.</p>
<p><input type="button" value="Delete section and contents" onclick="post_edit_section({{id}}, 'delete')" id="thread_section_delete_submit_{{id}}"><input type="button" value="Cancel" onclick="toggle_delete_section_warning({{id}})" style="margin-left: 3px;"></p>
</div>


<ul id='thread_content_section_{{id}}' class='threadcontent'>
  {% include "micourses/threads/thread_content_edit_container.html" %}
</ul>

<div id="insert_content_section_{{id}}">
<a onclick="if(commands_enabled){get_content_form('insert', {{id}})}" class="edit_link" id="insert_content_{{id}}">[insert content]</a>
<form id="content_form_insert_{{id}}" action="" method="post" accept-charset="utf-8" style="display: none" class="thread_info_box thread_content_edit">
<h5>Insert thread content</h5>
<div id="content_form_inner_insert_{{id}}"></div>
<p><input type="submit" value="Save"> <input type="button" value="Cancel" onclick="remove_content_form('insert',{{id}})"></p></form>
</div>
<div id="insert_below_section_{{id}}">
<a onclick="if(commands_enabled){toggle_insert_section_form({{id}})}" class="edit_link" id="insert_section_{{id}}" >[insert section]</a>
<form id="insert_section_form_{{id}}" action="" method="post" accept-charset="utf-8" style="display: none" class="thread_info_box">
<label for="insert_section_form_{{id}}_section_name">Section name:</label> <input id="insert_section_form_{{id}}_section_name" maxlength="200" size="50" name="section_name" type="text" value="" />
<p><input type="submit" value="Insert section"> <input type="button" value="Cancel" onclick="toggle_insert_section_form({{id}})"></p></form>
</div>

<{{ltag}} class="threadsections" id="child_sections_{{id}}">
{% for section in child_sections %}
<li id="thread_section_{{section.id}}">{% thread_section_edit section %}</li>
{% endfor %}
</{{ltag}}>

<script>
    $("#edit_section_form_{{id}}").submit(function(event) {
	event.preventDefault();
	post_edit_section({{id}}, 'edit', $('#edit_section_form_{{id}}'));
    });
    $("#insert_section_form_{{id}}").submit(function(event) {
	event.preventDefault();
	post_edit_section({{id}}, 'insert', $('#insert_section_form_{{id}}'));
    });
  $('#content_form_insert_{{id}}').submit(function(event) {
      event.preventDefault();
      post_edit_content({{id}}, 'insert', $('#content_form_insert_{{id}}'));
  });
</script>
