{% load thread_tags staticfiles %}
<li id='thread_content_{{id}}'>{{thread_content.return_link}}

{% if enrollment and not thread_content.optional  %}
<span id="completed_{{id}}" {% if not completed %}hidden{% endif %}><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Complete" onclick="$('#undo_complete_{{id}}').toggle(true);"/>
<span id ="undo_complete_{{id}}" hidden> <input type="button" class="coursecontentbutton" value="Undo completion" onclick="mark_completion({{id}}, 0);"></span></span>
<span id="not_completed_{{id}}" {% if completed %}hidden{% endif %}>
<input type="button" class="coursecontentbutton" value="Done" onclick="mark_completion({{id}}, 1)">
</span>
{% endif %}

</li>
