{% load thread_tags staticfiles %}
<span id="thread_content_heading_{{id}}"><span id="thread_content_title_{{id}}">{{thread_content.return_link}}</span>
<span id="thread_content_commands_{{id}}">{% if move_up %}<a onclick="if(commands_enabled){post_edit_content({{id}},'move_up');}" class="edit_link" id="thread_content_up_{{id}}">[up]</a>{% endif %}
{% if move_down %}<a onclick="if(commands_enabled){post_edit_content({{id}},'move_down');}" class="edit_link" id="thread_content_down_{{id}}">[down]</a>{% endif %}
<a onclick="if(commands_enabled){toggle_delete_content_warning({{id}})}" class="edit_link" id="thread_content_delete_{{id}}">[delete]</a>
<a onclick="if(commands_enabled){get_content_form('edit', {{id}})}" class="edit_link" id="thread_content_edit_{{id}}">[edit]</a></span></span>
<div id="delete_content_form_{{id}}" style="display: none" class="thread_info_box">
    <h5>Confirm delete content</h5>
    <p>Are you sure you want to delete the content: {{thread_content.get_title}}?</p>
    <p>This command cannot be undone.</p>
<p><input type="button" value="Delete content" onclick="post_edit_content({{id}}, 'delete')" id="thread_content_delete_submit_{{id}}"><input type="button" value="Cancel" onclick="toggle_delete_content_warning({{id}})" style="margin-left: 3px;"></p>
</div>
<form id="content_form_edit_{{id}}" action="" method="post" accept-charset="utf-8" style="display: none" class="thread_info_box thread_content_edit">
<h5>Edit thread content</h5>
<p><input type="submit" value="Save" onclick="this.form.scroll=false"> <input type="button" value="Cancel" onclick="remove_content_form('edit',{{id}})"></p>
<div id="content_form_inner_edit_{{id}}"></div>
<p><input type="submit" value="Save" onclick="this.form.scroll=true"> <input type="button" value="Cancel" onclick="remove_content_form('edit',{{id}}, '#thread_content_heading_{{id}}')"> {% if courseuser.user.is_staff %} <a href="{{admin_url}}">Go to admin page for: {{thread_content.content_object.get_title}}</a>{% endif %}</p></form>
<script>
  $('#content_form_edit_{{id}}').submit(function(event) {
      event.preventDefault();
      post_edit_content({{id}}, 'edit', $('#content_form_edit_{{id}}'));
      if(this.scroll) {
	  $('#thread_content_heading_{{id}}').get(0).scrollIntoView();
      }
  });


</script>
