{% extends "base.html" %}{% load thread_tags  %}
{% block title %}Math Insight thread: {{course}}{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}micourses/micourse.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h3>Thread: {{course}}</h3>


<p>{{ course.description|safe }} </p>

<{{ltag}} class="threadsections">
{% for section in course.thread_sections.all %}
{% thread_section section %}
{% endfor %}
</{{ltag}}>

{% if include_edit_link %}<p><a href="{% url 'mithreads:thread-edit' course.code %}">Edit thread</a></p>{%endif%}


{% endblock %}


{% block rightcolumn %}
<h2><a href="{% url 'mithreads:list' %}" class="normaltext">Threads</a></h2>
<ul class="linklist">
  {% for other_course in course_list %}
  <li><a href="{% url 'mithreads:thread' other_course.code %}" title="{{other_course.description}}">{{other_course}}</a></li>
  {% endfor %}
</ul>
{% endblock %}


{% block tail %}
<script>
  function mark_completion(content_id, student_id, complete) {
      var thepost = jQuery.post('{% url "micourses:record-completion" %}', {'student_id': student_id, 'content_id': content_id, 'complete': complete });

      thepost.done(process_completion);
  }
  function process_completion(data) {
      var content_id = data['content_id'];
      var complete = data['complete'];

      $('#undo_complete_' + content_id).toggle(false);
      
      if(complete) {
	  $('#completed_' + content_id).toggle(true);
	  $('#not_completed_' + content_id).toggle(false);
      }
      else {
	  $('#completed_' + content_id).toggle(false);
	  $('#not_completed_' + content_id).toggle(true);
      }
  }

</script>
{% endblock %}
