table {
    width: auto;
    border-style: none;
}
th, td, tbody th, thead th, tbody td, thead td {
    border-style: none;
    padding: 0;
    }

/* don't highlight row on mouse over */
tbody tr:hover th,
tbody tr:hover td {
    background: transparent;
}

table.contingency th, table.contingency td, table.contingency thead th,table.contingency thead td, table.contingency tbody th, table.contingency tbody td {
    padding: 0.2em;
}
table.contingency thead th {
    border-bottom: 2px solid black;
    text-align: center;
}
table.contingency tbody th {
    border-right: 2px solid black;
}
table.contingency thead th.ul_corner {
    border-bottom: 2px solid black;
    border-right: 2px solid black;

}
table.contingency .row_total {
    background: #f9f9f9;
    border-left: 1px solid gray;
}
table.contingency .col_total {
    background: #f9f9f9;
    border-top: 1px solid gray;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol.question_subparts {
    list-style-type: lower-alpha;
}

ol.question_subparts ol {
    list-style-type: lower-roman;
}



form.writein {
   display: inline;
}


.highlight_answer {
    background:#c4c4c4;

}

@media screen {

    li.question {
	padding-top: 2em;
    }
}

@media print {

    .question_help_container  {
	display: none;
    }

    .question {
	page-break-inside: avoid;
    }
    .page-break-ok {
	page-break-inside: auto;
    }
    .tinyspacebelow
    {
	padding-bottom: 2em;
    }
    .smallspacebelow
    {
	padding-bottom: 5em;
    }
    .medspacebelow
    {
	padding-bottom: 10em;
    }
    .medlargespacebelow
    {
       padding-bottom: 15em;
    }
    .largespacebelow
    {
	padding-bottom: 20em;
    }
    .large2spacebelow
    {
	padding-bottom: 25em;
    }
    .large3spacebelow
    {
	padding-bottom: 30em;
    }
}

.yma-grid {
    display:table;
    width:100%;
    table-layout:fixed;
    list-style-type: none;
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

.yma-gl { float:left; margin: 0; }
.yma-gr { float:right; margin: 0 0 0 -5px; }

.yma-g20 { width:20%; }
.yma-g40 { width:40%; }
.yma-g60 { width:60%; }
.yma-g80 { width:80%; }
.yma-g25 { width:25%; }
.yma-g33 { width:33.333%; }
.yma-g50 { width:50%; }
.yma-g66 { width:66.666%; }
.yma-g75 { width:75%; }
.yma-g38 { width:38.2%; }
.yma-g62 { width:61.8%; }
.yma-g55 { width:55%; }
.yma-g45 { width:45%; }	
.yma-gbox { padding: 0 10px }
.yma-gbox-left { padding: 0 10px 0 0 }
.yma-gbox-right { padding: 0 0 0 10px }

