input.coursecontentbutton {
    font-size: 80%;
}

.exam_header {
    page-break-before: always;
    border-bottom: 1px solid black; 
    margin-bottom: 10px;
    margin-left: -0.5em;
}

.left_header {
    float: left;
}
.middle_header {
    overflow: hidden;
    text-align: center;
}
.right_header {
    float: right;
}

.question_scores {
    float: right;
}

.exam_front_matter {
    clear: both;
    padding-top: 1em;
}
.exam_main {
    clear: both;
}

ol.exam_questions {
    padding-left: 0em;
}


ul.instruction_list li {
    margin-bottom: 0.5em;
}
ul.instruction_list {
    padding-left: 0em;
}

.examinfo {
    float: left;
}


table.examstudentinfo td.examlabel {
    text-align: right;
    padding-right: 0.5em;
}
table.examstudentinfo td.blank {
    border-bottom: 1px solid black;
    padding-right: 180px;
}

table.question_scores {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 1em;
    margin-right: 2em;
}
table.question_scores td {
    border: 1px solid black;
    padding: 4px 10px;
}

table.question_scores td.examlabel {
    text-align: center;
}
table.question_scores td.blank {
    padding-right: 80px;
}

#more_questions_link {
    margin-top: 2em;
}

@media screen {

    .namesection {
	display: none;
    }

    .exam_header {
	display: none;
    }
}


@media print {

    @page {
	margin: 1cm 1cm 1cm 1cm;
    }
    p {
	line-height: normal;
	margin: 1em 0 0 0;
    }

    li {
	line-height:normal;
	margin-left:0.8em;
    }
    
    body {
	font-size: 12pt;
	padding: 0 40px;
	color: #000;
    }
    
    .namesection {
	padding-top: 1em;
	padding-bottom: 0em;
    }
    .namesection:after {
	content: "";
	display: table;
	clear: both;
    }

    .nameblank {
	float: left;
    }
    .sectionblank {
	float: right;
	padding-right: 10em;
    }

    h1,h2,h3,h4,h5,h6 {
	color: #000;
    }

    h3 {
	font-size:150%;
	font-weight: bold;
	line-height: 0.8571em;
	text-align: center;
	margin:-1em 0 0 0;
    }

    header {
	display: none;
    }
    #assessment_points {
	display: none;
    }
    #assessment_due_individual {
	display: none;
    }
    .citation
    {
	display: none;
    }

    #copyright
    {
	font-size: 8pt;
    }
    #copyright_image
    {
	display: none;
    }

    .related_generic,.lighter,.deeper
    {
	display: none;
    }
   
    #more_questions_link {
        display: none;
    }

    .assessment_main {
	margin-top: 1cm;
    }

    ol.exam_questions, ol.quiz_questions {
	margin-left: 0em;
    }
    ol.assessment_questions{
	margin-left: -0.5cm;
    }
    .newpage {
	page-break-before: always;
    }
}

footer {
    border: 0 none;
}

#main_content {
    border: 0 none;
}
