{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Attempts of {{ user.get_full_name }} on {{content.thread_content.content_object}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-assessmentattempted' content.id %}">{{content.thread_content.content_object}}</a>{% endblock %}

{% block content %}

<h4>{{content.thread_content.content_object}}</h4>

<p>Points: {{content.total_points}}<br/>
Score: {{score|floatformat_or_dash:"1"}} (based on {{content.attempt_aggregation_string}} score achieved)<br/>
Adjusted due date: <a href='{% url 'mic-adjustedduedatecalculation' content.id %}'>{{adjusted_due_date}}</a></p>

{% if attempts %}
<table class="basic rowclick">
<thead><tr><th>Attempt</th><th>Date and time</th><th>Score</th></tr></thead>
<tfoot><tr><td></td><td><b>&nbsp;Assessment score</b> (based on {{content.attempt_aggregation_string}} score achieved)</td><td class="righttext"><b>&nbsp;{{ score|floatformat_or_dash:"1"}}</b></td></tr></tfoot>
{% for attempt in attempts %}
<tr><td>{{ attempt.formatted_attempt_number }}</td><td>{{attempt.datetime}}</td><td class="righttext">{{attempt.formatted_score}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No attempts recorded</p>
{% endif %}

<p>Go to {{content.thread_content.content_object.return_link}}.</p>

{% endblock %}
