{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Question {{question_number}} of attempt {{attempt_number}} on {{content.thread_content.content_object}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-assessmentattempts' content.id %}">{{content.thread_content.content_object}}</a> ►  <a href="{% url 'mic-assessmentattemptquestions' content.id attempt_number %}">Attempt {{attempt_number}}</a> ►  <a href="{% url 'mic-assessmentattemptquestiondetail' content.id attempt_number question_number %}">Question {{question_number}}</a>{% endblock %}


{% block content %}

<h4>Question {{question_number}} of attempt {{attempt_number}} on: {{content.thread_content.content_object}}</h4>

<p>Points: {{ points}}</p>

<h5>Answer history</h5>

<table class="basic rowclick">
<thead><tr><th>Date and time</th><th>Percent</th><th>Score</th></tr></thead>
<tfoot><tr><td ><b>&nbsp;Question score</b> (based on {{content.attempt_aggregation_string}})</b></td><td><b>&nbsp;{{current_credit|percent_checked_100 }}&nbsp;</b></td><td><b>&nbsp;{{ score|floatformat_or_dash:"1" }}&nbsp;</b></td></tr></tfoot>
{% for answer in answers %}
<tr><td> <a href="{% url 'mic-assessmentattemptquestionattempt' content.id attempt_number question_number forloop.counter %}">&nbsp;{{answer.datetime}}&nbsp;</a></td><td><a href="{% url 'mic-assessmentattemptquestionattempt' content.id attempt_number question_number forloop.counter %}">&nbsp;{{answer.credit_percent|percent_checked_100 }}&nbsp;</a></td><td><a href="{% url 'mic-assessmentattemptquestionattempt' content.id attempt_number question_number forloop.counter %}">&nbsp;{{answer.score|floatformat_or_dash:"1"}}&nbsp;</a></td></tr>
{% endfor %}
</table>


{% endblock %}
