{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Attendance for {{course}}{%endblock%}

{% block content %}
<h3>To-date attendance for {{course}}</h3>

<p>Attendance through {{last_attendance_date}}: {{ final_attendance_percent|floatformat:"1" }}%<br/>
Date enrolled: {{date_enrolled}}<br/>
Course start date: {{course.start_date}}</p>

<table>
<tr><th>Date</th><th>Present</th><th>Cumulative attendance</th></tr>
{% for date in attendance %}
<tr><td>{{date.date}}</td><td>{{date.present}}</td><td>{{date.percent|floatformat:"1" }}%</td><tr>
{% endfor %}
</table>

{% endblock %}
