{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Grades for {{course}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-instructorgradebook' %}">Gradebook</a> ► <a href="{% url 'mic-editassessmentattempt' content.id%}">{{assessment}}</a>{% endblock %}


{% block main_columns %}

<h4>Edit attempts for: {{assessment}}</h4>

<p>Total points: {{content.total_points}}</p>

<div style="overflow: auto;">
<form id="edit_student_content_attempts_form"><input type="hidden" name="content_id" value="{{content.id}}">
<table class="bordertable">
<thead><tr><th>Name</th><th>Score</th><th>Latest Attempt</th><th>New Attempt</th></tr></thead>
<tbody>
  {% for attempt in latest_attempts %}
  <tr><td style="white-space: nowrap; padding-right: 1em;">{{attempt.student.get_full_name}} (<a href="{% url 'mic-assessmentattemptedinstructor' attempt.student.id content.id %}">edit all attempts</a>)</td><td id="{{attempt.student.id}}_current_score">{{attempt.current_score|floatformat_or_dash:"1"}}</td><td><div id="id_{{attempt.student.id}}_latest">{% if attempt.attempt %}<input type="text" name="{{attempt.student.id}}_latest" value="{{attempt.attempt.get_score}}" size="1">{%else%}--{%endif %}</div><div id="{{attempt.student.id}}_latest_status"></div><div id="{{attempt.student.id}}_latest_errors" class="error"></div></td><td><input type="text" name="{{attempt.student.id}}_new" id="id_{{attempt.student.id}}_new" size="1"><div id="{{attempt.student.id}}_new_status"></div><div id="{{attempt.student.id}}_new_errors" class="error"></div></td></tr>
  {% endfor %}
<tr><td></td><td></td><td><input type="button" id="modify_latest_attempts_button" value="Modify latest attempts" onclick="Dajaxice.midocs.edit_latest_student_content_attempts(Dajax.process,{'form':$('#edit_student_content_attempts_form').serializeArray() })" {% if not latest_attempts_present %}hidden{%endif%}></td><td>Date/time: <input type="text" name="new_datetime" size="10" value="{{default_datetime}}"><div id="datetime_errors" class="error"></div><input type="button" id="add_new_attempts_button" value="Add new attempts" onclick="Dajaxice.midocs.add_new_student_content_attempts(Dajax.process,{'form':$('#edit_student_content_attempts_form').serializeArray() })"></td></tr>
</tbody>
</table>
</form>
</div>
{% endblock %}

