{% extends "base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Assessments of {{ student.first_name }} {{ student.last_name }}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-studentgradebook' %}"> Grades</a>{% endblock %}

{% block content %}

<h3>Grades</h3>
<table>
<thead><tr><th>Grade item</th><th>Possible points</th><th>Score</th><th>Percentage</th></tr></thead>
<tfoot><tr><td><b>Course Total</b></td><td>{{category_scores.total_points}}</td><td><b>{{category_scores.total_student_score}}</b></td><td></td></tr></tfoot>
{% for category in category_scores.scores %}
<tr><td colspan=4>{{category.category}}</td></tr>
{% for assessment in category.assessments %}
<tr><td>{{ assessment.assessment}}</td><td>{{assessment.total_points}}</td><td>{{assessment.student_score}}</td><td></td></tr>
{% endfor %}
<tr><td>Subtotal for {{category.category}} (based on top {{category.number_count}} scores)</td><td>{{category.points}}</td><td>{{category.student_score}}</td><td></td></tr>
{% endfor %}
</table>
{% endblock %}
