{% extends "base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Grades for {{ student.get_full_name }}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-studentgradebook' %}"> Grades</a>{% endblock %}

{% block content %}

<h3>Grades</h3>
<p>Student: {{student.get_full_name}}<br/>
Course: {{course}}</p>
<table class="bordertable">
<thead><tr><th>Grade item</th><th>Possible points</th><th>Score</th><th>Percentage</th></tr></thead>
<tbody>{% for category in category_scores.scores %}
<tr class="subheading"><th colspan=4 scope="row">{{category.category}}</th></tr>
{% for assessment in category.assessments %}
<tr><td>{{ assessment.assessment}}</td><td class="right">{{assessment.points}}</td><td class="right"><a href="{% url 'mic-assessmentattempts' assessment.content.id %}">{{assessment.student_score|floatformat_or_NA:"1"}}</a></td><td class="right">{{assessment.percent|floatformat:"1"}}%</td></tr>
{% endfor %}
<tr class="subtotal"><td>Subtotal for {{category.category}}{% if category.number_count %}<br/><small>(based on top {{category.number_count}} scores)</small>{%endif%}</td><td class="right">{{category.points}}</td><td class="right">{{category.student_score}}</td><td class="right">{{category.percent|floatformat:"1"}}%</td></tr>
{% endfor %}
<tr><td><b>Course Total</b></td><td class="right"><b>{{category_scores.total_points}}</b></td><td class="right"><b>{{category_scores.total_student_score}}</b></td><td class="right"><b>{{category_scores.total_percent|floatformat:"1"}}%</b></td></tr>
</tbody>
</table>
{% endblock %}
