{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Update attendance for {{course}}{%endblock%}

{% block content %}
{% if message %}
<p class="info">{{ message}}</p>
{%endif %}
<p>Update attendance for {{course}}.</p>

<form action="{% url 'mic-updateattendance' %}" method="post">{% csrf_token %}
<div>
<label for="id_attendance_date">Attendance date:</label> <input class="vDateField" id="id_attendance_date" name="attendance_date" size="10" type="text" value="{{ next_attendance_date }}" />
</div>
<input type="submit" value="Update attendance" />

<ul>
{% for student in course.enrolled_students.all %}
<li><label for="id_student_present_{{forloop.counter}}"><input id="id_student_present_{{forloop.counter}}" name="students_present" type="checkbox" value="{{student.id}}" checked />{{student.get_full_name}}</label></li>
{% endfor %}
</ul>
</form>
{% endblock %}
