.exam_header {
    page-break-before: always;
    border-bottom: 1px solid black; 
    margin-bottom: 10px;
    margin-left: -0.5em;
}

.left_header {
    float: left;
}
.middle_header {
    overflow: hidden;
    text-align: center;
}
.right_header {
    float: right;
}

.question_scores {
    float: right;
}

.exam_instructions {
    clear: both;
    padding-top: 1em;
}
.exam_main {
    clear: both;
}

table {
    width: auto;
    border-style: none;
}
th, td, tbody th, thead th, tbody td, thead td {
    border-style: none;
    padding: 0;
    }

/* don't highlight row on mouse over */
tbody tr:hover th,
tbody tr:hover td {
    background:#fff;
}


ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol.exam_questions {
    padding-left: 0em;
}


ul.instruction_list li {
    margin-bottom: 0.5em;
}
ul.instruction_list {
    padding-left: 0em;
}


/* have mouse change to pointer over links */
a.show_help, a.hide_help {
    cursor: pointer;
}

.question_help {
    display: none;
    padding: 8px;
}
.question_help h5{
    margin-bottom: -0.2em;
}

.examinfo {
    float: left;
}


table.examstudentinfo td.examlabel {
    text-align: right;
    padding-right: 0.5em;
}
table.examstudentinfo td.blank {
    border-bottom: 1px solid black;
    padding-right: 180px;
}

table.question_scores {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 1em;
    margin-right: 2em;
}
table.question_scores td {
    border: 1px solid black;
    padding: 4px 10px;
}

table.question_scores td.examlabel {
    text-align: center;
}
table.question_scores td.blank {
    padding-right: 80px;
}

#more_questions_link {
    margin-top: 2em;
}

.plot {
    margin-right: 1em;
    margin-left: 1em;
}


@media screen {

    .namesection {
	display: none;
    }

    .exam_header {
	display: none;
    }

    li.question {
	padding-top: 2em;
    }
}

@media print {

    p {
	line-height: normal;
	margin: 1em 0 0 0;
    }

    li {
	line-height:normal;
	margin-left:0.8em;
    }
    
    body {
	font-size: 12pt;
	padding: 0 40px;
	color: #000;
    }
    
    .namesection {
	padding-top: 1em;
	padding-bottom: 2em;
    }

    .nameblank {
	float: left;
    }
    .sectionblank {
	float: right;
	padding-right: 10em;
    }

    h1,h2,h3,h4,h5,h6 {
	color: #000;
    }

    h3 {
	font-size:150%;
	font-weight: bold;
	line-height: 0.8571em;
	text-align: center;
	margin:-1em 0 0 0;
    }

    header {
	display: none;
    }
    .citation
    {
	display: none;
    }

    #copyright
    {
	font-size: 8pt;
    }
    #copyright_image
    {
	display: none;
    }

    .related_generic,.lighter,.deeper
    {
	display: none;
    }
   
    .question_help_container  {
	display: none;
    }

    #more_questions_link {
	display: none;
    }
    ol.exam_questions {
	margin-left: 0em;
    }
    .question {
	page-break-inside: avoid;
    }
    .plot {
	page-break-inside: avoid;
    }
    .newpage {
	page-break-before: always;
    }
    .tinyspacebelow
    {
	padding-bottom: 2em;
    }
    .smallspacebelow
    {
	padding-bottom: 5em;
    }
    .medspacebelow
    {
	padding-bottom: 10em;
    }
    .medlargespacebelow
    {
       padding-bottom: 15em;
    }
    .largespacebelow
    {
	padding-bottom: 20em;
    }
    .extralargespacebelow
    {
	padding-bottom: 30em;
    }
}

.yma-grid {
    display:table;
    width:100%;
    table-layout:fixed;
    list-style-type: none;
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

.yma-gl { float:left; margin: 0; }
.yma-gr { float:right; margin: 0 0 0 -5px; }

.yma-g50 { width:50%; }

.yma-gbox { padding: 0 10px }
.yma-gbox-left { padding: 0 10px 0 0 }
.yma-gbox-right { padding: 0 0 0 10px }

footer {
    border: 0 none;
}

#main_content {
    border: 0 none;
}
