@media screen {

    .namesection {
	display: none;
    }
}

@media print {

    body {
	font-size: 12pt;
	padding: 0 40px;
	color: #000;
    }
    
    .namesection {
	padding-top: 1em;
	padding-bottom: 2em;
    }

    .nameblank {
	float: left;
    }
    .sectionblank {
	float: right;
	padding-right: 10em;
    }

    h1,h2,h3,h4,h5,h6 {
	color: #000;
    }

    h3 {
	font-size:150%;
	font-weight: bold;
	line-height: 0.8571em;
	text-align: center;
	margin:-1em 0 0 0;
    }

    header {
	display: none;
    }
    .citation
    {
	display: none;
    }

    #copyright
    {
	font-size: 8pt;
    }
    #copyright_image
    {
	display: none;
    }

    .related_generic,.lighter,.deeper
    {
	display: none;
    }
   
    .question {
	page-break-inside: avoid;
    }

    .newpage {
	page-break-before: always;
    }
    .smallspacebelow
    {
	padding-bottom: 5em;
    }
    .tinyspacebelow
    {
	padding-bottom: 2em;
    }
    .medspacebelow
    {
	padding-bottom: 10em;
    }
    .largespacebelow
    {
	padding-bottom: 20em;
    }
    .extralargespacebelow
    {
	padding-bottom: 30em;
    }
}


p {
    line-height: normal;
    margin: 1em 0 0 0;
}
li {
    line-height:normal;
    margin-left:0.8em;
}

