{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Question {{question_number}} of attempt {{attempt_number}} on {{content.thread_content.content_object}}{%endblock%}

{% block extrastyle2 %}
<link href="{{ STATIC_URL }}mitesting/miassessment.css" rel="stylesheet" type="text/css"/>
 <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jqplot.css" />

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: false } },
         SVG: { linebreaks: { automatic: false } }
});
</script>
{% endblock %}

{% block coursebreadcrumb %} ► <a href="{% url 'micourses:assessmentattempted' content.id %}">{{content.thread_content.content_object}}</a> ►  <a href="{% url 'micourses:assessmentattempt' content.id attempt_number %}">Attempt {{attempt_number}}</a> ►  <a href="{% url 'micourses:assessmentattemptquestion' content.id attempt_number question_number %}">Question {{question_number}}</a> ►  <a href="{% url 'micourses:assessmentattemptquestionattempt' content.id attempt_number question_number answer_dict.attempt_number %}">{{ answer_dict.datetime}}</a>{% endblock %}


{% block content %}

<h4>Question {{question_number}} of attempt {{attempt_number}} on: {{content.thread_content.content_object}}</h4>

<p><i>As answered on {{answer_dict.datetime}}</i></p>

{% question_body question_data %}

<p>Points: {{ answer_dict.points}}<br/>
Percent: {{ answer_dict.credit_percent|percent_checked_100 }}<br/>
Score: {{answer_dict.score|floatformat_or_dash:"1" }}</p>


{% endblock %}
