{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Attempts of {{ student.get_full_name }} on {{content.thread_content.content_object}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'mic-instructorgradebook'%}">Gradebook</a> ► {{student.get_full_name}} ► <a href="{% url 'mic-assessmentattemptedinstructor' pk=content.id student_id=student.id %}">{{content.thread_content.content_object}}</a>{% endblock %}

{% block content %}
<h3>Student: {{student.get_full_name}}</h3>

<h4>{{content.thread_content.content_object}}</h4>

<p>Points: {{content.total_points}}<br/>
Score: <span id="assessment_score">{{score|floatformat_or_dash:"1"}}</span> (based on {{content.attempt_aggregation_string}} score achieved)<br/>
Adjusted due date: <a href='{% url 'mic-adjustedduedatecalculation' content.id %}'>{{adjusted_due_date}}</a></p>

<table id="attempt_table" class="basic rowclick">
<thead><tr><th>Attempt</th><th>Date and time</th><th>Score</th><th>Link</th></tr></thead>
<tfoot><tr><td></td><td><b>&nbsp;Assessment score</b> (based on {{content.attempt_aggregation_string}} score achieved)</td><td><b><span id="assessment_score_table">&nbsp;{{ score|floatformat_or_dash:"1"}}</span></b></td></tr></tfoot>
{% for attempt in attempts %}
<tr><td>{{ attempt.formatted_attempt_number }}</td><td>{{attempt.datetime}}</td><td class="righttext">{{attempt.score_or_edit}}</td><td class="righttext">{{attempt.direct_link}}</td></tr>
{% endfor %}
</table>

<div id="add_attempt_section" hidden>
<h4>Add attempt</h4>
<form id="add_student_content_attempt_form">{{new_attempt_form.as_p }}<div id="add_attempt_errors" class="error"></div><input type="button" value="Save" onclick="Dajaxice.midocs.add_student_content_attempt(Dajax.process,{'form':$('#add_student_content_attempt_form').serializeArray()})"><input type="button" value="Cancel" onclick="toggleAttemptForm();"></p>
</form></div><input type="button" id="show_add_attempt_button" value="Add attempt" onclick="toggleAttemptForm();">
<script type="text/javascript">
  function toggleAttemptForm() {
      $('#add_attempt_section').toggle();
      $('#show_add_attempt_button').toggle();
}
  function toggleEditForm(num) {
      $('#attempt_' + num + '_score').toggle();
      $('#edit_attempt_' + num + '_score').toggle();
}
</script>


{% endblock %}
