{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Attempt {{attempt_number}}  of {{ user.get_full_name }} on {{thread_content.get_title}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'micourses:content_record' course_code=course.code content_id=thread_content.id %}">{{thread_content.get_title}}</a> ►  <a href="{% url 'micourses:content_attempt' course_code=course.code content_id=thread_content.id attempt_number=attempt_number %}">Attempt {{attempt_number}}</a>{% endblock %}

{% block content %}

<h4>Attempt {{attempt_number}} on: {{thread_content.get_title}}</h4>


<table class="basic rowclick">
<thead><tr><th>Question</th><th>Points</th><th>Percent</th><th>Score</th></tr></thead>
<tfoot><tr><td><b>&nbsp;Total{%if score_overridden%} (adjusted){%endif%}</b></td><td><b>&nbsp;{{thread_content.points}}&nbsp;</b></td><td id="content_attempt_credit"><b>&nbsp;{{ content_attempt.get_percent_credit|percent_checked_100 }}&nbsp;</b></td><td id="content_attempt_score"><b>&nbsp;{{ content_attempt.score|floatformat_or_dash:"1" }}&nbsp;</b></td></tr></tfoot>
{% for q_dict in question_list %}
<tr id="question_{{q_dict.question_number}}"><td>{% if q_dict.show_details%}<a href="{{q_dict.attempt_url}}">&nbsp;{{q_dict.question_number}}&nbsp;</a>{%else%}&nbsp;{{q_dict.question_number}}&nbsp;{%endif%}</td><td>{% if q_dict.show_details%}<a href="{{q_dict.attempt_url}}">&nbsp;{{q_dict.points|floatformat:"-2"}}&nbsp;</a>{%else%}&nbsp;{{q_dict.points|floatformat:"-2"}}&nbsp;{%endif%}</td><td id="question_{{q_dict.question_number}}_credit">{% if q_dict.show_details%}<a href="{{q_dict.attempt_url}}">&nbsp;{{q_dict.percent_credit|percent_checked_100}}&nbsp;</a>{%else%}&nbsp;{{q_dict.percent_credit|percent_checked_100}}&nbsp;{%endif%}</td><td id="question_{{q_dict.question_number}}_score">{% if q_dict.show_details%}<a href="{{q_dict.attempt_url}}">&nbsp;{{q_dict.score|floatformat_or_dash:"1"}}&nbsp;</a>{%else%}&nbsp;{{q_dict.score|floatformat_or_dash:"1"}}&nbsp;{%endif%}</td></tr>
{% endfor %}
</table>


{% endblock %}
