{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags  %}
{% block nolinksection %}{% endblock %}
{% block title %}Due dates for {{course}}{%endblock%}

{% block content %}
<h3>Due dates for {{course}}</h3>

<p>{% if begin_date and end_date %}From {{begin_date}} through {{end_date}}
(<a href="{% url 'micourses:contentlist' %}?{{previous_period_parameters}}">previous</a>) (<a href="{% url 'micourses:contentlist' %}?{{next_period_parameters}}">next</a>) (<a href="{% url 'micourses:contentlist' %}?{{all_dates_parameters}}">all</a>) 
{% else %}{% if begin_date %}From {{begin_date}} (<a href="{% url 'micourses:contentlist' %}?{{all_dates_parameters}}">all</a>){%endif%}{% if end_date %}Through {{end_date}} (<a href="{% url 'micourses:contentlist' %}?{{all_dates_parameters}}">all</a>){%endif%}{%endif%}</p>
<p>{% if exclude_completed %}Excluding items marked as completed (<a href="{% url 'micourses:contentlist' %}?{{include_completed_parameters}}">include</a>)
{% else %}Including items marked as completed (<a href="{% url 'micourses:contentlist' %}?{{exclude_completed_parameters}}">exclude</a>){%endif%}

<table class="basic">
<tr><th>Material</th><th>{% if course.adjust_due_date_attendance %}Initial due date{%else%}Due date{%endif%}</th>{% if course.adjust_due_date_attendance %}<th>Adjusted due date</th>{%endif%}<th>Score</th></tr>
{% for content in content_list %}
<tr><td>{% intlink content.1.thread_content.content_object %}{%endintlink%}</td><td>{% get_initial_due_date content.1 student as idd %}{{idd}}</td>{% if course.adjust_due_date_attendance %}<td><a href='{% url 'micourses:adjustedduedatecalculation' content.1.id %}'>{{content.0}}</a></td>{%endif%}<td>{% if content.1.total_points %}<a href='{% url 'micourses:assessmentattempted' content.1.id %}'>{% assessment_student_score content.1 student %}</a>{% else %}NA{%endif%}</td></tr>
{% endfor %}
</table>


{% endblock %}

