{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags thread_tags  %}
{% block nolinksection %}{% endblock %}
{% block title %}Main page for {{course}}{%endblock%}

{% block content %}
<h3>{{course}}</h3>

{% if message %}<p class="info">{{message}}</p>{% endif%}

{% if multiple_courses %}<p><a href= "{% url 'micourses:selectcourse' %}">Select other course</a></p>{% endif %}

{% if course.update_attendance %}
<h4>Attendance</h4>
<p><a href="{% url 'micourses:updateattendance' %}">Update attendance</a><br/>
<a href = "{% url 'micourses:updateindividualattendance' %}">Update individual attendance</a></p>
{% endif %}


<h4>Next items</h4>
<p>(See entire list organized by topic on <a href="{% url 'mithreads:thread' course.code %}">{{course}} thread</a>.)</p>

<ul>
{% for content in next_items %}
{% thread_content content %}
{% endfor %}
</ul>

<h4>Due dates this week</h4>
<p>From {{begin_date}} through {{end_date}}, excluding items marked as completed <a href="{% url 'micourses:contentlist' course_code=course.code %}?{{this_week_parameters}}">(more options)</a></p>

<table class="basic">
<tr><th>Material</th><th>Comment</th><th>Assigned</th><th>Due</th><th>Score</th></tr>
{% for content_dict in upcoming_content %}{% with thread_content=content_dict.thread_content %}
<tr><td>{{ thread_content.return_link }}</td><td>{{thread_content.comment}}</td><td>{{content_dict.assigned}}</td><td>{% if course.adjust_due_attendance %}<a href='{% url 'micourses:adjusted_due_calculation' course_code=course.code content_id=thread_content.id %}'>{{content_dict.adjusted_due}}</a>{% else %}{{content_dict.initial_due}}{%endif%}</td><td>{% if thread_content.points %}<a href='{% url 'micourses:content_record' course_code=course.code content_id=thread_content.id  %}'>{{content_dict.score|floatformat_or_dash:1}}</a>{% else %}NA{%endif%}</td></tr>
{% endwith %}{% endfor %}
</table>


{% endblock %}

{% block tail %}
<script>
  function mark_completion(content_id, complete) {
      var thepost = jQuery.post('{% url "micourses:record_completion" course_code=course.code %}', { 'content_id': content_id, 'complete': complete });

      thepost.done(process_completion);
  }
  function process_completion(data) {
      var content_id = data['content_id'];
      var complete = data['complete'];

      $('#undo_complete_' + content_id).toggle(false);
      
      if(complete) {
	  $('#completed_' + content_id).toggle(true);
	  $('#not_completed_' + content_id).toggle(false);
      }
      else {
	  $('#completed_' + content_id).toggle(false);
	  $('#not_completed_' + content_id).toggle(true);
      }
  }

</script>
{% endblock %}
