{% extends "base.html" %}
{% block nolinksection %}{% endblock %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}micourses/micourse.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% block extrastyle2 %}{% endblock %}
{% endblock %}


{% block rightcolumn %}
 <a href="{% url 'mithreads:thread' course.code %}">{{course}} thread</a><br/>
{% for url in course.courseurl_set.all %}<a href="{{url.url}}">{{url.name}}</a><br/>{% endfor %}

{% if instructor_role %}
<a href="{% url 'micourses:instructor_gradebook' course_code=course.code %}">Gradebook</a><br/>
<a href="{% url 'micourses:exportgradebook' %}">Export gradebook</a><br/>
{% if course.track_attendance %}
<a href="{% url 'micourses:update_attendance' course_code=course.code %}">Update attendance</a><br/>
<a href = "{% url 'micourses:update_individual_attendance' course_code=course.code %}">Update individual attendance</a>
{%endif%}

{%else%} {% comment %}student view{% endcomment %}
<a href="{% url 'micourses:contentlist' course_code=course.code %}?{{week_date_parameters}}">Due dates by week</a><br/>
<a href="{% url 'micourses:student_gradebook' course_code=course.code %}">Grades</a><br/>
{% if course.track_attendance %}<a href="{% url 'micourses:attendance_display' course_code=course.code %}">Attendance record</a><br/>{% endif %}
{%endif%}


{% if courseuser.selected_course_enrollment.group %}
<h5>Section and group</h5>
<p>Section: 
{{courseuser.selected_course_enrollment.section}}<br/>Group: {{ courseuser.selected_course_enrollment.group }}</p>{% endif %}

{% endblock %}
