{% extends "base.html" %}
{% block nolinksection %}{% endblock %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}micourses/micourse.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% block extrastyle2 %}{% endblock %}
{% endblock %}


{% block rightcolumn %}
 <a href="{% url 'mithreads:thread' course.code %}">{{course}} thread</a><br/>
{% if course.syllabus_url %}<a href="{{course.syllabus_url}}">Course syllabus</a><br/>{% endif %}
{% if course.instructor_url %}<a href="{{course.instructor_url}}">Instructors and office hours</a><br/>{% endif %}

{% if instructor_view %}
<a href="{% url 'micourses:instructorgradebook' %}">Gradebook</a><br/>
<a href="{% url 'micourses:exportgradebook' %}">Export gradebook</a><br/>
<a href="{% url 'micourses:instructorlistassessments' %}">List assessments</a> (enter grades)<br/>
{% if course.track_attendance %}
<a href="{% url 'micourses:updateattendance' %}">Update attendance</a><br/>
<a href = "{% url 'micourses:updateindividualattendance' %}">Update individual attendance</a>
{%endif%}

{%else%} {% comment %}student view{% endcomment %}
<a href="{% url 'micourses:contentlist' %}?{{week_date_parameters}}">Due dates by week</a><br/>
<a href="{% url 'micourses:studentgradebook' %}">Grades</a><br/>
{% if course.track_attendance %}<a href="{% url 'micourses:attendancedisplay' %}">Attendance record</a><br/>{% endif %}
{%endif%}

{% if course.tutoring_url %}<a href="{{course.tutoring_url}}">Tutoring options</a><br/>{% endif %}
{% if courseuser.selected_course_enrollment.group %}
<h5>Section and group</h5>
Section: 
{{courseuser.selected_course_enrollment.section}}<br/>Group: {{ courseuser.selected_course_enrollment.group }}</p>{% endif %}

{% endblock %}
