{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags  %}
{% block nolinksection %}{% endblock %}
{% block title %}Main page for {{course}}{%endblock%}

{% block content %}
<h3>{{course}}</h3>

{% if multiple_courses %}<p><a href= "{% url 'micourses:selectcourse' %}">Select other course</a></p>{% endif %}

{% if course.update_attendance %}
<h4>Attendance</h4>
<p><a href="{% url 'micourses:updateattendance' %}">Update attendance</a><br/>
<a href = "{% url 'micourses:updateindividualattendance' %}">Update individual attendance</a></p>
{% endif %}


<h4>Next items</h4>
<p>(See entire list organized by topic on <a href="{% url 'mithreads:thread' course.code %}">{{course}} thread</a>.)</p>

<ul>
{% for item in next_items %}
<li>{% intlink item.content_object %}{%endintlink%} {% complete_skip_button item student %}<br/>
</li>
{% endfor %}
</ul>


<h4>Due dates in the coming weeks</h4>
<p>From {{begin_date}} through {{end_date}}
(<a href="{% url 'micourses:contentlist' %}?{{previous_period_parameters}}">previous week</a>) (<a href="{% url 'micourses:contentlist' %}?{{next_period_parameters}}">next week</a>) (<a href="{% url 'micourses:contentlist' %}?exclude_completed">all</a>)
</p>
<p>Excluding items marked as completed (<a href="{% url 'micourses:contentlist' %}?{{include_completed_parameters}}">include</a>)</p>

<table class="basic">
<tr><th>Material</th><th>{% if course.adjust_due_attendance %}Initial due date{%else%}Due date{%endif%}</th>{% if course.adjust_due_attendance %}<th>Adjusted due date</th>{%endif%}<th>Score</th></tr>
{% for content in upcoming_content %}
<tr><td>{% intlink content.1.content_object %}{%endintlink%}</td><td>{% get_initial_due content.1 student as idd %}{{idd}}</td>{% if course.adjust_due_attendance %}<td><a href='{% url 'micourses:adjustedduedatecalculation' content.1.id %}'>{{content.0}}</a></td>{%endif%}<td>{% if content.1.total_points %}<a href='{% url 'micourses:assessmentattempted' content.1.id %}'>{% assessment_student_score content.1 student %}</a>{% else %}NA{% endif %}</td></tr>
{% endfor %}
</table>


{% endblock %}
