{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% block nolinksection %}{% endblock %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}micourses/micourse.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/jquery.dajax.core.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% dajaxice_js_import %} 
{% block extrastyle2 %}{% endblock %}
{% endblock %}


{% block rightcolumn %}
 <a href="{% url 'mithreads-thread' course.thread.code %}">{{course.thread}} thread</a><br/>
{% if course.syllabus_url %}<a href="{{course.syllabus_url}}">Course syllabus</a><br/>{% endif %}
{% if course.instructor_url %}<a href="{{course.instructor_url}}">Instructors and office hours</a><br/>{% endif %}
{% if courseuser.get_current_role == 'I' %}
<a href="{% url 'mic-instructorgradebook' %}">Gradebook</a> (<b>very</b> slow)<br/>
<a href="{% url 'mic-instructorlistassessments' %}">List assessments</a> (enter grades)<br/>
<a href="{% url 'mic-updateattendance' %}">Update attendance</a><br/>
<a href = "{% url 'mic-updateindividualattendance' %}">Update individual attendance</a>
{%else%}
<a href="{% url 'mic-contentlist' %}?{{week_date_parameters}}">Due dates by week</a><br/>
<a href="{% url 'mic-studentgradebook' %}">Grades</a><br/>
<a href="{% url 'mic-attendancedisplay' %}">Attendance record</a>
{%endif%}
{% if course.tutoring_url %}<a href="{{course.tutoring_url}}">Tutoring options</a><br/>{% endif %}
{% if courseuser.selected_course_enrollment.group %}
<h5>Section and group</h5>
Section: 
{{courseuser.selected_course_enrollment.section}}<br/>Group: {{ courseuser.selected_course_enrollment.group }}</p>{% endif %}

{% endblock %}
