{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Gradebook for {{course}}{%endblock%}

{% block extrastyle2 %}
<style>
  .withdrawn {
      text-decoration: line-through;
      color: gray;
  }
  .withdrawn2 {
      text-decoration: line-through;
  }
</style>
{% endblock %}

{% block coursebreadcrumb %} ► <a href="{% url 'micourses:instructor_gradebook' course_code=course.code %}">Gradebook</a>{% endblock %}

{% block main_columns %}
<h4>Gradebook</h4>
<div id="gradebook_container" style="overflow: auto;">
<table class="bordertable rowclick">
<thead><tr><th style="min-width: 80px;"></th><th></th><th></th>{% for ac in assessment_categories %}<th colspan = {{ac.number_assessments_plus_one}}>{{ac.category}}</th>{%endfor%}{% if course.calculate_course_total %}<th style="min-width: 80px;"></th>{% endif %}</tr>
<tr><th>Name</th><th>Section</th><th>Group</th>{% for ac in assessment_categories %}{% for assessment in ac.assessments%}<th style="min-width: 80px;">{{assessment.content.get_short_title}} <br/><a href="{% url 'micourses:edit_course_content_attempt_scores' course_code=course.code content_id=assessment.content.id%}" style="font-size: x-small; font-weight: normal;">Edit scores</a></th>{%endfor %}<th style="min-width: 80px;">Total {{ac.category}}{% if ac.score_comment_short %} <br/><small style='font-weight:normal'>({{ ac.score_comment_short }})</small>{% endif %}</th>{%endfor%}{% if course.calculate_course_total %}<th>Course Total</th>{% endif %}</tr>
  <tr><td><i>Possible points</i></td><td></td><td></td>{% for ac in assessment_categories %}{% for assessment in ac.assessments%}<td><i>{{assessment.points|floatformat:"1"}}</i> </td>{%endfor %}<td><i>{{ac.points|floatformat:"1"}}</i></td>{%endfor%}{% if course.calculate_course_total %}<td><i>{{total_points|floatformat:"1"}}</i></td>{% endif %}</tr>
</thead>
<tbody>
  {% for student_dict in student_scores %}{% with student=student_dict.enrollment.student %}
  <tr{% if student_dict.enrollment.withdrew %} class="withdrawn"{% endif %}><td style="white-space: nowrap; padding-right: 1em;">{{student.get_full_name}}</td><td>{{student_dict.enrollment.section}}</td><td>{{student_dict.enrollment.group}}</td>{% for ac in student_dict.categories%}{% for score in ac.scores %}<td id="{{student.id}}_{{score.content.id}}"><a href="{% url 'micourses:content_record_instructor' student_id=student.id content_id=score.content.id course_code=course.code %}" title="{{student.get_full_name}}&#10;{{score.title}}"{% if student_dict.enrollment.withdrew %} class="withdrawn2"{% endif %}>{{score.score|floatformat_or_dash:"1"}}</a></td>{%endfor%}<td>{{ac.student_score|floatformat:"1"}}</td>{%endfor%}{% if course.calculate_course_total %}<td>{{student_dict.total_score|floatformat:"1"}}</td>{% endif %}</tr>
  {% endwith %}{% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block tail %}
<script>
$( document ).ready(function() {
    $('#gradebook_container').css('max-height',$(window).height());
});
</script>
{% endblock %}
