{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Question {{question_number}} of attempt {{attempt_number}} on {{thread_content.get_title}}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'micourses:content_record' course_code=course.code content_id=thread_content.id %}">{{thread_content.get_title}}</a> ►  <a href="{% url 'micourses:content_attempt' course_code=course.code content_id=thread_content.id attempt_number=attempt_number %}">Attempt {{attempt_number}}</a> ► <a href="{% url 'micourses:question_attempts' course_code=course.code content_id=thread_content.id attempt_number=attempt_number question_number=question_number %}">Question {{question_number}}</a>{% endblock %}


{% block content %}

<h4>Question {{question_number}} of attempt {{attempt_number}} on: {{thread_content.get_title}}</h4>

<p>Points: {{ points}}</p>


<h5>Response history</h5>

<table class="basic rowclick">
<thead><tr>{% if multiple_question_attempts %}<th>Question version</th>{%endif%}<th>Date and time</th><th>Percent</th><th>Score</th></tr></thead>
<tfoot><tr><td {% if multiple_question_attempts %}colspan=2{%endif%}><b>&nbsp;Question score</b> (based on {{thread_content.attempt_aggregation_string}})</b></td><td><b>&nbsp;{{percent_credit|percent_checked_100 }}&nbsp;</b></td><td><b>&nbsp;{{ score_text }}&nbsp;</b></td></tr></tfoot>
{% for attempt in question_attempt_list %}
{% for response in attempt.responses %}
<tr>{% if multiple_question_attempts %}<td>{{attempt.version_number}}</td>{%endif%}<td> <a href="{{response.response_url}}">&nbsp;{{response.submitted}}&nbsp;</a></td><td><a href="{{response.response_url}}">&nbsp;{{response.percent_credit|percent_checked_100 }}&nbsp;</a></td><td><a href="{{response.response_url}}">&nbsp;{{response.score_text}}&nbsp;</a></td></tr>
{% endfor %}{% endfor %}
</table>


{% endblock %}
