{% extends "base.html" %}
{% load mi_tags question_tags mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Select course for {{request.user.courseuser.get_full_name}}{%endblock%}

{% block content %}
{% if n_courses %}
<p>Select course:</p>
<ul>
{% for course in course_list %}
<li><a href="{% url 'micourses:coursemain' course.code%}">{{ course }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>{{cuser}} is not enrolled in any active courses on Math Insight.</p>
{% endif %}
{% endblock %}
