{% extends "base.html" %}
{% load mi_tags question_tags mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}{% if not_enrolled %}{{cuser.get_full_name }} not enrolled{%else%}Select course for {{cuser.get_full_name}}{%endif%}{%endblock%}

{% block content %}
{% if not_enrolled %}
<p>{{cuser.get_full_name}} is not enrolled in the course {{not_enrolled_course}}.</p>
{% endif %}
{% if n_courses %}
<p>Select course:</p>
<ul>
{% for course in course_list %}
<li><a href="{% url 'micourses:coursemain' course.code%}">{{ course }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>{{cuser.get_full_name}} is not enrolled in any active courses on Math Insight.</p>
{% endif %}
{% endblock %}
