{% extends "micourses/course_base.html" %}
{% load  mi_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Grades for {{ student.get_full_name }}{%endblock%}

{% block coursebreadcrumb %} ► <a href="{% url 'micourses:student_gradebook' course_code=course.code %}"> Grades</a>{% endblock %}

{% block content %}

<h3>Grades</h3>
<p>Student: {{student.get_full_name}}<br/>
Course: {{course}}<br/>
Section: {{enrollment.section}}<br/>
Group: {{enrollment.group}}</p>
<table class="bordertable">
<thead><tr><th>Grade item</th><th class="centertext">Possible<br> points</th><th>Score</th><th>Percentage</th></tr></thead>
<tbody>{% for category in category_scores.categories %}
<tr class="subheading"><th colspan=4 scope="row">{{category.category}}</th></tr>
{% for assessment in category.scores %}
<tr><td>{{ assessment.assessment.return_link}}</td><td class="righttext">{{assessment.points}}</td><td class="righttext"><a href="{% url 'micourses:content_record' course_code=course.code content_id=assessment.content.id %}">{{assessment.score|floatformat_or_dash:"1"}}</a></td><td class="righttext">{{assessment.percent|floatformat:"1"}}%</td></tr>
{% endfor %}
<tr class="subtotal"><td>Subtotal for {{category.category}} {{ category.score_comment}}</td><td class="righttext">{{category.points|floatformat:"1"}}</td><td class="righttext">{{category.student_score|floatformat:"1"}}</td><td class="righttext">{{category.percent|floatformat:"1"}}%</td></tr>
{% endfor %}
<tr><td><b>Course Total</b></td><td class="righttext"><b>{{category_scores.total_points|floatformat:"1"}}</b></td><td class="righttext"><b>{{category_scores.total_score|floatformat:"1"}}</b></td><td class="righttext"><b>{{category_scores.total_percent|floatformat:"1"}}%</b></td></tr>
</tbody>
</table>

<p><small>(All numbers rounded to nearest tenth.)</small></p>

{% endblock %}
