{% extends "base.html" %}
{% load mi_tags %}

{% block title %}Math Insight threads{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}


{% block content %}

<h3>List of threads</h3>

<ul class="linklist">
  {% for course in course_list %}
  <li><a id="{{ course.code }}" class="anchor"></a><a href="{% url 'mithreads:thread' course.code %}" title="{{course.description}}">{{course}}</a><br/>
    {{ course.description|safe }} </li>
  {% endfor %}
</ul>
{% if is_paginated %}
<div>
  {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
  | Page {{ page_obj.number }} of {{ paginator.num_pages }} |
  {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
</div>
{% endif %}
{% endblock %}


{% block footer %}
<p><a href="{% url 'mi-allpages' %}">List of all pages</a></p>
{%endblock %}
