{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Update attendance for {{course}}{%endblock%}

{% block content %}
{% if message %}
<p class="info">{{ message}}</p>
{%endif %}
<h4>Update attendance of individual for {{course}}</h4>

<form action="{% url 'mic-updateindividualattendance' %}" method="get">
{{select_student_form.student.label_tag}}: {{select_student_form.student}}
<input type="submit" value="Select student" />
</form>

{% if student %}
<form action="{% url 'mic-updateindividualattendance' %}" method="post">{% csrf_token %}
<p>Attendance for {{student.get_full_name}}</p>
<table class="narrow" style="width:10%">
<tr><td>1</td><td>&frac12;</td><td>0</td><td>E</td></tr>
{% for field in attendance_dates_form %}
  {% if field.is_hidden %}{{ field}}
  {% else %}
    <tr>
    {% for radio in field %}<td>{{radio.tag}}</td>{%endfor%}
    <td> {{ field.label_tag }}</td>
   </tr>
   {% endif %}
{%endfor%}
</table>



{% comment %}
<input type="hidden" name="student" value={{student}}>
  <ul>
    {% for date in attendance %}
    <li><label for="id_attendance_date_{{forloop.counter}}"><input id="id_attendance_date_{{forloop.counter}}" name="attendance_dates" type="checkbox" value="{{date.date}}" {% if date.present %}checked{%endif%} />{{date.date}}</label></li>
{% endfor %}
</ul>
{% endcomment %}

 <input type="submit" value="Update attendance" />
 
</form>
{% endif %}

{% endblock %}
