{% extends "micourses/course_base.html" %}
{% load mi_tags testing_tags course_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Update attendance for {{course}}{%endblock%}

{% block content %}
{% if message %}
<p class="info">{{ message}}</p>
{%endif %}
<p>Update attendance for {{course}}.</p>

<form action="{% url 'mic-updateattendance' %}" method="post">{% csrf_token %}
<div>
<label for="id_attendance_date">Attendance date:</label> <input id="id_attendance_date" name="attendance_date" size="10" type="text" value="{{ next_attendance_date|date:'M j, Y'}}" />
</div>
<input type="submit" value="Update attendance" />

<table class="narrow" style="width:10%">
<tr><td>1</td><td>&frac12;</td><td>0</td><td>E</td></tr>
{% for student in course.enrolled_students_ordered %}
<tr><td><input id="id_student_present_{{forloop.counter}}" type="radio" name="student_{{student.id}}" value="1" checked /></td><td><input id="id_student_halfpresent_{{forloop.counter}}" type="radio" name="student_{{student.id}}" value="0.5" /></td><td><input id="id_student_notpresent_{{forloop.counter}}" type="radio" name="student_{{student.id}}" value="0"  /></td><td><input id="id_student_excused_{{forloop.counter}}" type="radio" name="student_{{student.id}}" value="-1"  /></td><td class="nowrap">{{student.get_full_name}}</td></tr>
{% endfor %}
</table>
</form>
{% endblock %}
