{% extends 'base.html' %}
{% load mi_tags %}
{% block title %}{% if query %}{{ query }} - {%endif%}Search Math Insight{% endblock %}
{% block nolinksection %}{% endblock %}
{% block pagenav %}
<li><a href="#sitenav">Top</a></li>
<li><a href="#search">Search</a></li>
{% if query %}<li><a href="#results">Results</a></li>{% endif%}
{% if page.has_previous %}<li class="padleft"><a href="?q={{ query }}{{ models_restrict }}&amp;page={{ page.previous_page_number }}#search">Previous Page</a></li>{% endif %}
{% if page.has_next %}<li {% if not page.has_previous %}class="padleft"{%endif%}><a href="?q={{ query }}{{ models_restrict }}&amp;page={{ page.next_page_number }}#search">Next Page</a></li>{% endif %}
{% endblock %}


{% block content %}
<a id="search" class="anchor"></a>
<h3>Search Math Insight</h3>
<div id="search_form">
  <form  method="get" action=".#search">
    <p>{{form.q}} 
      <input class="ym-searchbutton" type="submit" value="Search" /></p>
    
    <p class="pre_list">Restrict search to:</p>
    {{ form.models }}
  </form>
</div>
{% if query %}

<a id="results" class="anchor"></a>
<h3>Results{%if page.number > 1%}, page {{ page.number }}{%endif%}</h3>

<ul class="linklistspace">
  {% for result in page.object_list %}
  {% if result.content_type %}<li>{% extendedlink result.object icon_size=icon_size %}</li>{%endif%}
  {% empty %}
  <li>No results found.</li>
  {% endfor %}
</ul>

{% if page.has_previous or page.has_next %}
<div>
  {% if page.has_previous %}<a href="?q={{ query }}{{ models_restrict }}&amp;page={{ page.previous_page_number }}#search">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
  |
  Page {{ page.number }} of {{ page.paginator.num_pages }}
  |
  {% if page.has_next %}<a href="?q={{ query }}{{ models_restrict }}&amp;page={{ page.next_page_number }}#search">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}
{% else %}
{# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
{% endblock %}

{% block rightcolumn %}

<ul class="linklist">
  <li><a href="{% url 'mi-allpages' %}">List of all pages</a></li>
  <li><a href="{% url 'mi-appletlist' %}">List of all applets</a></li>
  <li><a href="{% url 'mi-videolist' %}">List of all videos</a></li>
  <li><a href="{% url 'mi-imagelist' %}">List of all images</a></li>
</ul>

{%endblock%}
