{% extends "base.html" %}{% load mi_tags testing_tags %}{% load dajaxice_templatetags %}


{% block coursebreadcrumb %}{% if course_thread_content %} ► <a href="{% url 'mic-assessmentattempted' course_thread_content.id %}">{{ assessment_name }}</a> ► view{%endif%}{% endblock %}

{% block title %}{{ assessment_name }} - Math Insight{%endblock%}

{% block extrastyle %}
<link href="{{ STATIC_URL }}mitesting/miassessment.css" rel="stylesheet" type="text/css"/>
<meta name="description" content="{{ assessment.description}}"/>
<script src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ba-serializeobject.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js"></script>
{% dajaxice_js_import %} 

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: false } },
         SVG: { linebreaks: { automatic: false } }
});
</script>

{% block extrastyle2 %}{% endblock %}
{% endblock %}

{% block rightcolumn %}
{% if assessment.get_active_thread_content_set %}
<a id="threads" class="anchor"></a>
<section class="box threadbox">
<h4><a href="{% url 'mithreads-list' %}" class="normaltext">Thread navigation</a></h4>
{% for thread_content in assessment.get_active_thread_content_set %}
<a id="thread_{{ thread_content.section.thread.code }}" class="anchor"></a>
<h5 class="pre_list"><a href="{% url 'mithreads-thread' thread_content.section.thread.code %}#{{ thread_content.section.code }}" class="normaltext">{{  thread_content.section.thread }}</a></h5>
<ul class="linklist">
  {% with thread_content.find_previous as previous_in_thread %}
  {% if previous_in_thread %}
  <li> Previous: {{ previous_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
  {% with thread_content.find_next as next_in_thread %}
  {% if next_in_thread %}
  <li> Next: {{ next_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
</ul>
{% endfor %}
</section>
{% endif %}
{% if question_numbers %}<p>Question numbers: {{ question_numbers }}</p>{% endif %}
<p>{% if generate_assessment_link %}<a href="{% url 'mit-assessmentgenerate' assessment.code %}">Generate assessment</a><br/>
<small>Current seed: {{seed}}</small><br/>
{%endif%}
{% if show_solution_link %}<a href="{% url 'mit-assessmentsolution' assessment.code %}?{{request.GET.urlencode}}">View solution</a>{%endif%}</p>

{%endblock%}
