{% extends "mitesting/assessment_base.html" %}{% load testing_tags %}

{% block content %}
<h3>{{ assessment_name }}<span class="visible_print_only">{{version_string}}</span></h3>
<h5>{{ course }} {{ semester }}</h5>

<section class="namesection"><div class="nameblank">Name:</div><div class="sectionblank">Section:</div></section>

<section class="assessment_main">
{% if assessment.instructions %}{{ assessment.render_instructions }}{% endif %}

{% if question_only %}<p>Question {{question_only}}:</p>{%endif%}

<ol class="assessment_questions"{% if question_only %}start="{{question_only}}"{%endif%}>
{% for question in rendered_list %}
<li class="question{%if question.question.spacing_css%} {{ question.question.spacing_css }}{%endif%}{%if question.question.css_class%} {{ question.question.css_class }}{%endif%}">{% if question.points %}({{question.points}} point{{question.points|pluralize}}) {%endif%}{% question_body question.question_data %}</li>
{% endfor %}
</ol>
</section>

{% if not assessment.nothing_random %}
<section id="more_questions_link">
  {% if course_thread_content %}
  <form action="{{assessment.get_absolute_url}}" method="post">{% csrf_token %}
    <input type="hidden" name="new_attempt" value="1">
    <input type="submit" class="mi_submit" value="Generate new assessment attempt" />
  </form>
  {% else %}
  <form action="{{assessment.get_absolute_url}}" method="get">
    <input type="hidden" name="seed" value="{{ assessment.get_new_seed }}">
    <input type="submit" class="mi_submit" value="Generate another sample of the questions" />
  </form>
  {%endif%}
</section>
{% endif%}

{% endblock %}

