{% load staticfiles testing_tags %}

{% if question_data.error_message %}
<section class="error">
<h4>Error in question</h4>
<p>The following errors occurred when rendering the question:</p>
{{question_data.error_message}}
</section>
{% endif %}


<form action="" method="post" id="id_question_{{question_data.identifier}}" class="writein" >

{% if question_data.points %}({{question_data.points}} point{{question_data.points|pluralize_float}}<span id="{{question_data.identifier}}_credit_info" {% if not question_data.current_credit %}class="hidden_feedback"{%endif%}>, achieved: {% if question_data.attempt_url %}<a href="{{question_data.attempt_url}}"><span id="{{question_data.identifier}}_current_credit">{{question_data.current_credit}}</span>%</a>{%else%}<span id="{{question_data.identifier}}_current_credit">{{question_data.current_credit}}</span>%{%endif%}<span id="{{question_data.identifier}}_complete_icon" {% if question_data.current_credit != 100 %}class="hidden_feedback"{%endif%}> <img src="{% static 'admin/img/icon-yes.gif' %}" alt="Complete" /></span></span>){%endif%}
{{ question_data.rendered_text }}

{% if question_data.help_available %}
<div class="question_help_container">
  <p><a id="{{question_data.identifier}}_help_show" class="show_help" onclick="showHide('{{question_data.identifier}}_help');">Need help?</a></p>
  <section id="{{question_data.identifier}}_help" class="question_help info">
    {% if question_data.hint_text %}
    <h5>Hint</h5>
    {{ question_data.hint_text}}
    {% endif %}
    {% if question_data.reference_pages %}
    <h5>Helpful pages</h5>
    <ul>
      {% for rpage in question_data.reference_pages %}
      <li>{{rpage.return_link}}</li>
      {% endfor%}
    </ul>
    {% endif %}
    <p><a id="{{question_data.identifier}}_help_hide" class="hide_help" onclick="showHide('{{question_data.identifier}}_help');">Hide help</a></p>
  </section>

</div>

{% endif %}

{% if question_data.subparts %}
<ol class='question_subparts'>
{% for subpart in question_data.subparts %}
<li class='question{% if subpart.subpart.spacing_css%} {{ subpart.subpart.spacing_css}}{%endif%}{%if subpart.subpart.css_class%} {{ subpart.subpart.css_class }}{%endif%}' id="question_{{question_data.identifier}}_{{subpart.letter}}">
  {{ subpart.rendered_text}}
  {% if subpart.help_available %}
<div class="question_help_container">
  <p><a id="{{question_data.identifier}}_{{subpart.letter}}_help_show" class="show_help" onclick="showHide('{{question_data.identifier}}_{{subpart.letter}}_help');">Need help?</a></p>
  <section id="{{question_data.identifier}}_{{subpart.letter}}_help" class="question_help info">
    {% if subpart.hint_text %}
    <h5>Hint</h5>
    {{ subpart.hint_text}}
    {% endif %}
    {% if subpart.reference_pages %}
    <h5>Helpful pages</h5>
    <ul>
      {% for rpage in subpart.reference_pages %}
      <li>{{rpage.return_link}}</li>
      {% endfor%}
    </ul>
    {% endif %}
   <p><a id="{{question_data.identifier}}_{{subpart.letter}}_help_hide" class="hide_help" onclick="showHide('{{question_data.identifier}}_{{subpart.letter}}_help');">Hide help</a></p>
  </section>

</div>

{% endif %}

</li>
{% endfor %}
</ol>
{% endif %}

<input type="hidden" id="id_number_attempts_{{question_data.identifier}}" name="number_attempts_{{question_data.identifier}}" value="0">
<div id="question_{{question_data.identifier}}_feedback" class="info"></div>
<div id="question_{{question_data.identifier}}_feedback_binary" class="info"></div>
<div id="question_{{question_data.identifier}}_solution" class="info"></div>
<p>{% if question_data.submit_button %}<input type="submit" id="question_{{question_data.identifier}}_submit" class="mi_answer_submit" value="Submit" >{% endif %}
<span id="question_{{question_data.identifier}}_for_solution_button">{% if question_data.show_solution_button %}<input type="button" class="mi_show_solution" value="Show solution" id="question_{{question_data.identifier}}_show_solution" disabled >{%endif%}
</span></p>
</form>

<script>
    {% if question_data.submit_button %}
  jQuery( "#id_question_{{question_data.identifier}}").submit(function(event) {
      event.preventDefault();
      post_form_{{question_data.identifier}}();
    });
  {% else %}
  jQuery( "#id_question_{{question_data.identifier}}").submit(false)
  {%endif%}  
  {% if question_data.auto_submit %}
  post_form_{{question_data.identifier}}();
  {% endif %}
  {% if question_data.enable_solution_button %}jQuery( "#question_{{question_data.identifier}}_show_solution").removeAttr("disabled");{%endif %}
  {% if question_data.show_solution_button %}jQuery( "#question_{{question_data.identifier}}_show_solution").click(function() {jQuery.post("{{question_data.inject_solution_url}}", "cgd={{question_data.computer_grade_data}}", process_solution_inject_{{question_data.identifier}});});{% endif %}

  var question_{{question_data.identifier}}_processing=false;

  function post_form_{{question_data.identifier}}() {
      if(!question_{{question_data.identifier}}_processing) {
	  set_processing_state_{{question_data.identifier}}()
	  
	  var thepost = jQuery.post('{% url "mit-gradequestion" question_id=question_data.question.id %}', jQuery('#id_question_{{question_data.identifier}}').serialize()+'&cgd={{question_data.computer_grade_data}}');

	  thepost.done(process_graded_question_{{question_data.identifier}})
	  .fail(failed_grade_question_{{question_data.identifier}})
	  .always(clear_processing_state_{{question_data.identifier}});
      }
      
  }

  function process_graded_question_{{question_data.identifier}}(data) {
      var question_feedback=jQuery("#question_{{question_data.identifier}}_feedback");
      var question_binary_feedback=jQuery("#question_{{question_data.identifier}}_feedback_binary");

      jQuery(".applet_feedback_{{question_data.identifier}}").removeClass('hidden_feedback');

      question_feedback.html(data['feedback']);
      if(data['correct']) {
	  question_feedback.removeClass('error').addClass('success');
      }
      else {
	  question_feedback.removeClass('error').removeClass('success');
      }
      
      for(var answer_identifier in data['answers']) {
	  var answer_feedback = jQuery("#answer_"+answer_identifier+"_feedback");
	  var answer_feedback_binary = jQuery("#answer_"+answer_identifier+"__binary__feedback");
	  answer_feedback.html(data['answers'][answer_identifier]['answer_feedback']);
	  answer_feedback_binary.html(data['answers'][answer_identifier]['answer_feedback_binary']);
	  if(data['answers'][answer_identifier]['answer_correct']) {
	      answer_feedback.removeClass('error').addClass('success');
	  }
	  else {
	      answer_feedback.removeClass('success').addClass('error');
	  }
	  answer_feedback.filter("span").css({ display: 'inline-block'})
      }

	
      jQuery('#id_number_attempts_{{question_data.identifier}}').val(data['number_attempts']);
      if(data["enable_solution_button"]) {
	  jQuery( "#question_{{question_data.identifier}}_show_solution").removeAttr("disabled");
      }


      jQuery("#id_question_{{question_data.identifier}} input:radio").parent().removeClass('highlight_answer');
      jQuery("#id_question_{{question_data.identifier}} input:checked").parent().addClass('highlight_answer');

      if('current_credit' in data) {
	  jQuery('#{{question_data.identifier}}_credit_info').removeClass("hidden_feedback");
	  jQuery('#{{question_data.identifier}}_current_credit').html(Math.round(data['current_credit']));
	  if(data['current_credit']==100) {
	      jQuery('#{{question_data.identifier}}_complete_icon').removeClass("hidden_feedback");
	  }
      }

      MathJax.Hub.Queue(["Typeset",MathJax.Hub,"id_question_{{question_data.identifier}}"]);

      for (var i=0; i< data["dynamictext"].length; i++) {
	  var dt=data["dynamictext"][i];
	  window[dt[0]](dt[1]);
      }
    }


  function failed_grade_question_{{question_data.identifier}}(data) {
      var question_feedback=jQuery("#question_{{question_data.identifier}}_feedback");
      question_feedback.html("Server error.  Failed to grade question.");
      question_feedback.removeClass('success').addClass('error');

      var question_answer_feedbacks=jQuery('.answerfeedback_{{question_data.identifier}}')
      question_answer_feedbacks.html("Server error.  Failed to grade question.");
      question_answer_feedbacks.removeClass('success').addClass('error');
  }

  var processing_timeoutID_{{question_data.identifier}};

  function set_processing_state_{{question_data.identifier}}() {
      window.clearTimeout(processing_timeoutID_{{question_data.identifier}});
      question_{{question_data.identifier}}_processing=true;
      jQuery("#question_{{question_data.identifier}}_submit").prop("disabled",true);

      /* Just in case, clear processing state if nothing happens for 20 seconds */
      processing_timeoutID_{{question_data.identifier}}=window.setTimeout(clear_processing_state_{{question_data.identifier}}, 20000);
  }      

  function clear_processing_state_{{question_data.identifier}}() {
      window.clearTimeout(processing_timeoutID_{{question_data.identifier}});
      question_{{question_data.identifier}}_processing=false;
      jQuery("#question_{{question_data.identifier}}_submit").prop("disabled",false);
  }      

  function process_solution_inject_{{question_data.identifier}}(data) {
      /*jQuery('article .geogebraweb').removeClass('geogebraweb')*/

      var geogebra_on_init_commands = "";
      try {
	  geogebra_on_init_commands = data['applet_javascript']['Geogebra']['on_init_commands'];
      }
      catch (err) {
	  /*console.log("Error: " + err); */
      }

      ggbOnInit = function(arg) {
	  console.log(arg);
	  if(geogebra_on_init_commands) {
	      eval(geogebra_on_init_commands);
	  }
      }
      

      jQuery("#question_{{question_data.identifier}}_solution").html(data['rendered_solution']);
      jQuery("#question_{{question_data.identifier}}_for_solution_button").remove();
      eval(data['applet_javascript']['_initialization']);

      MathJax.Hub.Queue(["Typeset",MathJax.Hub,"id_question_{{question_data.identifier}}"]);

    
  }
</script>

{{question_data.dynamictext_javascript}}
