
{% if not question_data.success %}
<section class="error">
<h4>Error in question</h4>
<p>The following errors occurred when rendering the question:</p>
{{question_data.error_message}}
</section>
{% endif %}


<form action="" method="post" id="id_question_{{question_data.identifier}}" class="writein" >

<span class="question" > 
{{ question_data.rendered_text }}

{% if question_data.help_available %}
<div class="question_help_container">
  <p><a id="{{question_data.identifier}}_help_show" class="show_help" onclick="showHide('{{question_data.identifier}}_help');">Need help?</a></p>
  <section id="{{question_data.identifier}}_help" class="question_help info">
    {% if question_data.hint_text %}
    <h5>Hint</h5>
    {{ question_data.hint_text}}
    {% endif %}
    {% if question_data.reference_pages %}
    <h5>Helpful pages</h5>
    <ul>
      {% for rpage in question_data.reference_pages %}
      <li>{{rpage.return_link}}</li>
      {% endfor%}
    </ul>
    {% endif %}
    <p><a id="{{question_data.identifier}}_help_hide" class="hide_help" onclick="showHide('{{question_data.identifier}}_help');">Hide help</a></p>
  </section>

</div>

{% endif %}

{% if question_data.subparts %}
<ol class='question_subparts'>
{% for subpart in question_data.subparts %}
<li class='question {{ subpart.spacing.css}}' id="question_{{question_data.identifier}}_{{subpart.letter}}">
  {{ subpart.rendered_text}}
  {% if subpart.help_available %}
<div class="question_help_container">
  <p><a id="{{question_data.identifier}}_{{subpart.letter}}_help_show" class="show_help" onclick="showHide('{{question_data.identifier}}_{{subpart.letter}}_help');">Need help?</a></p>
  <section id="{{question_data.identifier}}_{{subpart.letter}}_help" class="question_help info">
    {% if subpart.hint_text %}
    <h5>Hint</h5>
    {{ subpart.hint_text}}
    {% endif %}
    {% if subpart.reference_pages %}
    <h5>Helpful pages</h5>
    <ul>
      {% for rpage in subpart.reference_pages %}
      <li>{{rpage.return_link}}</li>
      {% endfor%}
    </ul>
    {% endif %}
   <p><a id="{{question_data.identifier}}_{{subpart.letter}}_help_hide" class="hide_help" onclick="showHide('{{question_data.identifier}}_{{subpart.letter}}_help');">Hide help</a></p>
  </section>

</div>

{% endif %}

</li>
{% endfor %}
</ol>
{% endif %}
</span>

<input type="hidden" id="id_number_attempts_{{question_data.identifier}}" name="number_attempts_{{question_data.identifier}}" value="0">
<div id="question_{{question_data.identifier}}_feedback" class="info"></div>
<div id="question_{{question_data.identifier}}_feedback_binary" class="info"></div>
<div id="question_{{question_data.identifier}}_solution" class="info"></div>
<p>{% if question_data.submit_button %}<input type="submit" id="question_{{question_data.identifier}}_submit" class="mi_answer_submit" value="Submit" >{% endif %}
<span id="question_{{question_data.identifier}}_for_solution_button">{% if question_data.show_solution_button %}<input type="button" class="mi_show_solution" value="Show solution" id="question_{{question_data.identifier}}_show_solution" disabled >{%endif%}
</span></p>
</form>

<script>
    {% if question_data.submit_button %}
  $( "#id_question_{{question_data.identifier}}").submit(function(event) {
      event.preventDefault();
      post_form_{{question_data.identifier}}();
    });
  {%endif%}  
  {% if question_data.auto_submit %}
  post_form_{{question_data.identifier}}();
  {% endif %}
  {% if question_data.enable_solution_button %}$( "#question_{{question_data.identifier}}_show_solution").removeAttr("disabled");{%endif %}
  {% if question_data.show_solution_button %}$( "#question_{{question_data.identifier}}_show_solution").click(function() {$.post("{{question_data.inject_solution_url}}", "cgd={{question_data.computer_grade_data}}", process_solution_inject_{{question_data.identifier}});});{% endif %}
  function post_form_{{question_data.identifier}}() {
      var thepost = $.post('{% url "mit-gradequestion" question_id=question_data.question.id %}', $('#id_question_{{question_data.identifier}}').serialize()+'&cgd={{question_data.computer_grade_data}}');

      thepost.done(process_graded_question_{{question_data.identifier}});
      
  }

  function process_graded_question_{{question_data.identifier}}(data) {
      var question_feedback=$("#question_{{question_data.identifier}}_feedback");
      var question_binary_feedback=$("#question_{{question_data.identifier}}_feedback_binary");

      $(".applet_feedback_{{question_data.identifier}}").removeClass('hidden_feedback');

      question_feedback.html(data['feedback']);
      if(data['correct']) {
	  question_feedback.addClass('success');
      }
      else {
	  question_feedback.removeClass('success');
      }
      
      for(var answer_identifier in data['answer_feedback']) {
	  var answer_feedback = $("#answer_"+answer_identifier+"_feedback");
	  answer_feedback.html(data['answer_feedback'][answer_identifier]);
	  if(answer_identifier.indexOf("__binary_") == -1) {
	      if(data['answer_correct'][answer_identifier]) {
		  answer_feedback.removeClass('error').addClass('success');
	      }
	      else {
		  answer_feedback.removeClass('success').addClass('error');
	      }
	      answer_feedback.filter("span").css({ display: 'inline-block'})
	  }
      }

	
      $('#id_number_attempts_{{question_data.identifier}}').val(data['number_attempts']);
      if(data["enable_solution_button"]) {
	  $( "#question_{{question_data.identifier}}_show_solution").removeAttr("disabled");
      }


      $("#id_question_{{question_data.identifier}} input:radio").parent().removeClass('highlight_answer');
      $("#id_question_{{question_data.identifier}} input:checked").parent().addClass('highlight_answer');

	MathJax.Hub.Queue(["Typeset",MathJax.Hub,"id_question_{{question_data.identifier}}"]);
    }

  function process_solution_inject_{{question_data.identifier}}(data) {
      /*$('article .geogebraweb').removeClass('geogebraweb')*/

      var geogebra_on_init_commands = "";
      try {
	  geogebra_on_init_commands = data['applet_javascript']['Geogebra']['on_init_commands'];
      }
      catch (err) {
	  /*console.log("Error: " + err); */
      }

      ggbOnInit = function(arg) {
	  console.log(arg);
	  if(geogebra_on_init_commands) {
	      eval(geogebra_on_init_commands);
	  }
      }
      

      $("#question_{{question_data.identifier}}_solution").html(data['rendered_solution']);
      $("#question_{{question_data.identifier}}_for_solution_button").remove();
      eval(data['applet_javascript']['_initialization']);

      MathJax.Hub.Queue(["Typeset",MathJax.Hub,"id_question_{{question_data.identifier}}"]);

    
  }
</script>

