{% extends "mitesting/assessment_base.html" %}
{% load testing_tags %}

{% block title %}Question: {{ question }}, version {{ version }} - Math Insight{%endblock%}
{% block content %}

<h3>Question: {{ question }}</h3>

{% question_body question_data %}

{% endblock %}

{% block rightcolumn %}
{% if show_lists %}
<ul class="linklist">
<li><a href="{% url 'mit-questionlist' %}">List of all questions</a></li>
<li><a href="{% url 'mit-assessmentlist' %}">List of all assessment</a></li>
</ul>
{% endif %}
{%endblock%}
