{% extends "base.html" %}
{% load question_tags %}


{% block extrastyle %}
<link href="{{ STATIC_URL }}mitesting/miquestion.css" rel="stylesheet" type="text/css"/>
<meta name="description" content="{{ question.description}}"/>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: false } },
         SVG: { linebreaks: { automatic: false } }
});
</script>
{% endblock %}

{% block title %}Question: {{ question }}, version {{ version }} - Math Insight{%endblock%}
{% block content %}

<h3>Question: {{ question }}</h3>

{% question_body question_data %}

{% endblock %}
