{% extends "mitesting/assessment_base.html" %}{% load testing_tags %}

{% block content %}
<h3>{{ assessment }}</h3>
<h5>{{ course }} {{ semester }}</h5>

<section class="namesection"><div class="nameblank">Name(s):</div><div class="sectionblank">Section:</div></section>

<section class="quiz_main">
{% for question in rendered_list %}
<li class="question{%if question.question.spacing_css%} {{ question.question.spacing_css }}{%endif%}{%if question.question.css_class%} {{ question.question.css_class }}{%endif%}">{% if question.points %}({{question.points}} point{{question.points|pluralize}}) {%endif%}{% question_body question.question_data %}</li>
{% endfor %}
</ol>
</section>

{% endblock %}

