{% extends 'base.html' %}
{% load mi_tags %}

{% block noanalytics%}{%endblock%}

{% block title %}Math Insight: Page not found{%endblock%}

{% block content %}
<h3>Page not found</h3>

<p>Sorry, the page you requested does not exist.</p>

<p>To find the page you are looking for, you can scan through the
<a href="{% url 'mi-index' 'general'%}">index</a>, browse the
<a href="{% url 'mithreads-list' %}">threads</a>,
or
search Math Insight.</p>

<p><form class="search" action="{% url 'haystack_search' %}" method="get">
  <label for="id_q">Search for:</label> <input type="text" name="q" size="18" id="id_q" />
  <input type="submit" value="Go" />
</form></p>


{%endblock%}
