{% extends "base.html" %}{% load mi_tags comments %}
{% block title %}Math Insight contacts{% endblock %}
{% block homemenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}
{% block content %}
<h3>Contact Math Insight</h3>

<p>We welcome comments or suggestions about Math Insight. Please contact us via our <a href="{% url 'mi-authorlist' %}">e-mail addresses</a> or use the below comment form. We're always interested in hearing from people who find this work useful or can help us improve it.</p>

<div id="messageform">
{% render_comment_form for comment_object %}
</div>
{% endblock %}


{% block rightcolumn %}
<p><a href="{% url 'mi-authorlist' %}">Math Insight Contributors</a></p>
{%endblock %}
