{% extends "base.html" %}
{% load mi_tags %}

{% block extrastyle %}
<meta name="description" content="A web site dedicated to illustrating underlying concepts of a few topics in mathematics."/>
<link href="{{ STATIC_URL }}css/mihome.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block homemenu %}class="active"{% endblock %}
{% block nolinksection %}{%endblock%}
{% block pagenav %}
<li><a href="#sitenav">Top</a></li>
<li><a href="#highlighted_pages">Highlighted pages</a></li>
<li><a href="#recent_news">Recent news</a></li>
<li><a href="#recent_pages">Recent pages</a></li>
<li><a href="#highlighted_applets">Highlighted applets</a></li>
<li><a href="#welcome">Welcome</a></li>

{%endblock%}

{% block main_columns %}
<div class="ym-column linearize-level-1">
  <div class="ym-col1">
    <div class="ym-grid linearize-level-0">
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox">
	  <a id="highlighted_pages" class="anchor"></a>
	  <h3>Highlighted pages</h3>
	  <ul class="linklistspace">
	    {% for page in highlight_list %}<li>{% intlink page %}{{ page.title }}{%endintlink%}<br/>{{ page.description }}</li>{% endfor %}
	  </ul>
	</div>
      </div>
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox-right">
	  <a id="recent_news" class="anchor"></a>
	  <h3>Recent news</h3>
	  <ul class="linklistspace">
	    {% for other_news in news_list %}
	    <li><p><a href="{% url 'mi-news' other_news.code %}">{{other_news}}</a><br/>
		{% if other_news.author_list_full%}by {{ other_news.author_list_full_link|safe }} on{%endif%}  {{ other_news.publish_date }}</p>
	      <p><a href="{% url 'mi-news' other_news.code %}" class="normaltext">{{other_news.description }}</a></p>
      </li>
	    {% endfor %}
	    <li><a href="{% url 'mi-recentnews'%}">More recent news</a></li>
	    
	  </ul>

	  <a id="recent_pages" class="anchor"></a>
    <h3>Recent pages</h3>
    <ul class="linklistspace">
      {% for page in new_pages %}<li>{% intlink page %}{{ page.title }}{%endintlink%}<br/>{{ page.description }}<br/><i>Added {{page.publish_date}}</i></li>{% endfor %}
      <li><a href="{% url 'mi-newsummary'%}">More new items</a></li>
    </ul>


	</div>
      </div>
    </div>
  </div>
  <div class="ym-col3">
    <div class="ym-cbox">
      <section class="box info">
	<a id="highlighted_applets" class="anchor"></a>
	<h3>Highlighted applets</h3>
	{% for highlighted_applet in highlighted_applets %}<article class="applethighlight ym-clearfix">
{% if highlighted_applet.thumbnail %}<div style="width:{{ highlighted_applet.thumbnail_large_width_buffer}}px;float: left;"><a href="{% url 'mi-applet' highlighted_applet.code %}"><img src="{{ highlighted_applet.thumbnail.url }}" alt="{{ highlighted_applet.title }}" width ="{{highlighted_applet.thumbnail_large_width}}" height="{{highlighted_applet.thumbnail_large_height}}" /></a></div>{%endif%}
<a href="{% url 'mi-applet' highlighted_applet.code %}" class="applet">{{ highlighted_applet.annotated_title }}</a><br/>
{{ highlighted_applet.description }}<br/>
	</article>
	{%endfor%}
      </section>

      <a id="welcome" class="anchor"></a>
      <h3>Welcome to Math Insight</h3>


<p>The Math Insight web site is a collection of pages and applets designed to shed light
on concepts underlying a few topics in mathematics.  The focus is on qualitative description 
rather than getting all technical details precise.  
Many of the pages were designed to be read even before students attend lecture on the topic, so they are intended to be somewhat readable introductions to the basic ideas.</p>

<p>You can browse the pages organized into <a href="{% url 'mithreads-list' %}">threads</a>, which are sequences through a subset of pages organized by particular topics.  An <a href="{% url 'mi-index' 'general'%}">index</a> can help you find pages discussing a particular term.  You can also  <a href="{% url 'haystack_search' %}">search</a> through the pages, applets, and image captions.  A few pages allow you to change the <a href="{% url 'mi-notationsystem'%}">notation system</a> used to render the mathematics.</p>

<p>We hope Math Insight can help you understand key mathematical concepts.  We <a href="{% url 'mi-contact' %}">welcome comments</a> on how we can improve it.</p>



    </div>
  </div>

</div>


{% endblock %}


{% block footer %}
<p>Layout based on <a href="http://www.yaml.de" class="external">YAML</a>. Powered by <a href="http://www.djangoproject.com" class="external">Django</a>.  Math display by <a href="http://www.mathjax.org" class="external">MathJax</a>.</p>
{% endblock %}


