{% extends "base.html" %}{% load mi_tags thread_tags %}
{% block title %}Math Insight thread: {{thread}}{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}

{% block extrastyle %}
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h3>Thread: {{thread}}</h3>

<p><a href="{% url 'mithreads-thread' thread.code %}">Finish editing</a></p>

<p>{{ thread.description|safe }} </p>

<div id="thread_contents">
{% render_thread_html_string thread student course 1 %}
</div>
{% if course %}
<p>{% save_changes_to_course_button thread course %}</p>
{% endif %}

<p><a href="{% url 'mithreads-thread' thread.code %}">Finish editing</a></p>

{% endblock %}
