{% extends "base.html" %}{% load mi_tags thread_tags dajaxice_templatetags %}
{% block title %}Math Insight thread: {{thread}}{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}

{% block extrastyle %}
{% if course %}
<link href="{{ STATIC_URL }}css/micourse.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/jquery.dajax.core.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% dajaxice_js_import %} 
{% endif %}
{% endblock %}

{% block content %}
<h3>Thread: {{thread}}</h3>


<p>{{ thread.description|safe }} </p>

{% if course %}<p>Enrolled course: <a href="{% url 'mic-coursemain' %}">{{ course }}</a></p>{%endif%}

{% render_thread_html_string thread student course %}

{% if include_edit_link %}<p><a href="{% url 'mithreads-thread-edit' thread.code %}">Edit thread</a></p>{%endif%}


{% endblock %}


{% block rightcolumn %}
<h2><a href="{% url 'mithreads-list' %}" class="normaltext">Threads</a></h2>
<ul class="linklist">
  {% for other_thread in thread_list %}
  <li><a href="{% url 'mithreads-thread' other_thread.code %}" title="{{other_thread.description}}">{{other_thread}}</a></li>
  {% endfor %}
</ul>
{% endblock %}
