{% extends "base.html" %}{% load mi_tags thread_tags %}
{% block title %}Math Insight thread: {{thread}}{% endblock %}
{% block threadmenu %}class="active"{% endblock %}
{% block nolinksection %}{% endblock %}
{% block nopagenav %}{% endblock %}{% block nopagenavsl %}{% endblock %}

{% block extrastyle %}
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h3>Thread: {{thread}}</h3>

<p><a href="{% url 'mithreads-thread' thread.code %}">Finish editing</a></p>

<p>{{ thread.description|safe }} </p>

<div id="thread_contents">
{% render_thread_html_string thread student course 1 %}
</div>
{% if course %}
<p>{% save_changes_to_course_button thread course %}</p>
{% endif %}

<p><a href="{% url 'mithreads-thread' thread.code %}">Finish editing</a></p>

<script>
  
  'use strict'

  function post_edit_section(section_id, action, form, thread_id) {
      
      var data = "action=" + action + "&section_id=" + section_id;
      
      if(form!==undefined) {
	  data += "&" + form.serialize();
      }
      if(thread_id!==undefined) {
	  data += "&thread_id=" + thread_id
      }

      var thepost = jQuery.post('{% url "mithreads-edit-section" %}', data);
      
      thepost.done(process_edit_section);
      
  }
  
  function process_edit_section(data) {
      var action = data['action'];

      if(action=="dec_level" || action=="inc_level" || action=="move_up" || action=="move_down" || action=="delete") {
	  $('#thread_contents').html(data['thread_contents'])
      }
      else if(action=='insert') {
	  var section_id = data['section_id']

	  if(section_id==null) {
	      section_id = "top";
	  }

	  if(data['errors']) {
	      $('#insert_section_form_' + section_id + '_errors').html(data['error_message']);
	      if(data['form_errors']) {
		  $('#insert_section_form_' + section_id + '_section_name_errors').html(data['form_errors']['section_name']);
		  $('#insert_section_form_' + section_id + '_section_code_errors').html(data['form_errors']['section_code']);
		  
	      }
	      else {
		  $('#insert_section_form_' + section_id + '_section_name_errors').html("");
		  $('#insert_section_form_' + section_id + '_section_code_errors').html("");

	      }
	  }
	  else {
	      $('#insert_section_form_' + section_id + '_section_name').val("");
	      $('#insert_section_form_' + section_id + '_section_code').val("");
	      
	      $('#thread_contents').html(data['thread_contents'])

	  }
      }

      else if(action=='edit') {
	  var section_id = data['section_id']

	  if(data['errors']) {
	      $('#edit_section_form_' + section_id + '_errors').html(data['error_message']);
	      if(data['form_errors']) {
		  $('#edit_section_form_' + section_id + '_section_name_errors').html(data['form_errors']['section_name']);
		  $('#edit_section_form_' + section_id + '_section_code_errors').html(data['form_errors']['section_code']);
		  
	      }
	      else {
		  $('#edit_section_form_' + section_id + '_section_name_errors').html("");
		  $('#edit_section_form_' + section_id + '_section_code_errors').html("");

	      }
	  }
	  else {
	      $('#edit_section_form_' + section_id + '_section_name').val("");
	      $('#edit_section_form_' + section_id + '_section_code').val("");
	      
	      $('#thread_contents').html(data['thread_contents'])

	  }
      }

  }
  function get_content_form(content_form_info) {
      
      var thepost = jQuery.post('{% url "mithreads-return-content-form" %}', {content_form_info: content_form_info});
      
      thepost.done(inject_content_form);
      
  }

  function inject_content_form(data) {
      var content_form_info = data['content_form_info'];
      
      var container_selector;
      if(section_id===undefined) {
	  container_selector = "#edit_content_form_" + content_type_id + "_" + object_id
      }
      else {
	  container_selector = "#insert_content_form_" + section_id;
      }
      if(content_form_info['section_id']===undefined) {
	  container_selector = "#edit_content_form_" + content_form_info['content_type_id'] + '_' + content_form_info['object_id'] + "_object_id";
      }
      else {
	  container_selector = "#insert_content_form_" + content_form_info['section_id'] + "_object_id";
      }


      var edit_command = "post_edit_content({section_id:"+section_id+"}, 'edit', $('" + container_selector + "'))";

      var form_html=data["form_html"];
      

      $(container_selector).html(data['form_html']);
      
  }

  function update_content_options(content_form_info, options) {

      var data = []
      if (content_form_info.content_type_id !== undefined) {
	  data.push("content_type_id=" + content_form_info.content_type_id)
      }
      if (content_form_info.object_id !== undefined) {
	  data.push("object_id=" + content_form_info.object_id)
      }
      if (content_form_info.section_id !== undefined) {
	  data.push("section_id=" + content_form_info.section_id)
      }
      data.push("option=" + option);

      data = data.join("&");

      var thepost = jQuery.post('{% url "mithreads-return-options" %}', data);
      
      thepost.done(inject_content_options);
      
  }

  function inject_content_options(data) {

      console.log(data);
      
      content_form_info = data['content_form_info'];

      var container_selector;

      if(content_form_info['section_id']===undefined) {
	  container_selector = "#edit_content_form_" + content_form_info['content_type_id'] + '_' + content_form_info['object_id'] + "_object_id";
      }
      else {
	  container_selector = "#insert_content_form_" + content_form_info['section_id'] + "_object_id";
      }
      console.log(container_selector);
      $(container_selector).html(data['content_options']);


  }
      
</script>

{% endblock %}
