{% load comments %}
{% load url from future %}
<form class="ym-form linearize-form" action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}{% if field.is_hidden %}<div>{{ field }}</div>{% endif %}{% endfor%}
  {% for field in form %}{% if not field.is_hidden %}
{% if not field.name == "url" %}<div class="ym-fbox-text{% if field.errors %} ym-error{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{% if field.errors %}<p class="ym-message">{{ field.errors }}</p>{% endif %}
{{ field.label_tag }}{% if field.name == "name" and user.is_authenticated %}<p class="commentloggedin">{{ user.first_name }} {{user.last_name}} (<a href="?logout#messageform">this isn't me</a>)</p>{%else%}{% if field.name == "email" and user.is_authenticated and user.email %}<p class="commentloggedin">{{user.email}}</p>{%else%}{{ field }}{%endif%}{%endif%}</div>{% endif %}{% endif %}{% endfor %}
<div class="ym-fbox-button">
 <input type="submit" name="post" class="ym-button" value="Send message" />
</div>
</form>
