{% extends "base.html" %}
{% load mi_tags %}
{% block nolinksection %}{% endblock %}
{% block title %}Overview of: {{assessment.name}} - Math Insight{%endblock%}

{% block coursebreadcrumb %}{% if thread_content %} ► <a href="{% url 'micourses:content_record' course_code=thread_content.course.code content_id=thread_content.id %}">{{thread_content.get_title}}</a> ► overview{% endif %}{% endblock %}


{% block content %}

<h3>Overview of: {{assessment_name}}</h3>

{% process_mi_tags thread_content.detailed_description %}

{% if thread_content_points or assigned or due %}
<h4>Points and due date summary</h4>
<div id="assessment_points" style="margin-top: 1em;">
{% if thread_content_points %}Total points: <span id="total_points">{{ thread_content_points}}</span>
{% if have_user_score %}<div id="assessment_score_achieved">
Score: <a href="{{record_url}}" id="overall_score">{{content_score}}</a>
</div>
{% endif %}{% endif %}
</div>
{% if assigned %}<div id="assessment_assigned">Assigned: {{assigned}}</div>{% endif %}
{% if due %}<div id="assessment_due_individual">Due:  {{due}}</div>{% endif %}
{% endif %}

{% if assessment.assessmentbackgroundpage_set.all %}
<h4>Background pages</h4>
<ul>
{% for background_page in assessment.assessmentbackgroundpage_set.all %}
<li>{% intlink background_page.page %}{%endintlink%}
{% endfor %}
</ul>
{% endif %}


{% if assessment_link %}
<p>Go to: {{assessment_link}}</p>
{% endif %}

{% endblock %}
 
{% block rightcolumn %}
{% if thread_content %}
<a id="threads" class="anchor"></a>
<section class="box threadbox">
<h4><a href="{% url 'mithreads:list' %}" class="normaltext">Thread navigation</a></h4>
<a id="thread_{{ thread_content.course.code }}" class="anchor"></a>
<h5 class="pre_list"><a href="{% url 'mithreads:thread' thread_content.course.code %}#s{{ thread_content.section.id }}" class="normaltext">{{  thread_content.course }}</a></h5>
<ul class="linklist">
  {% with thread_content.find_previous as previous_in_thread %}
  {% if previous_in_thread %}
  <li> Previous: {{ previous_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
  {% with thread_content.find_next as next_in_thread %}
  {% if next_in_thread %}
  <li> Next: {{ next_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
</ul>
</section>
{% endif %}

{% if generate_course_attempt_link %}<p><a href="{% url 'miassess:generate_course_attempt' content_id=thread_content.id %}">Generate course-wide attempt</a></p>
{%endif%}


{%endblock%}
