{% extends "base.html" %}


{% block coursebreadcrumb %}{% if course_thread_content %} ► <a href="{% url 'micourses:assessmentattempted' course_thread_content.id %}">{{ assessment_name }}</a> ► view{%endif%}{% endblock %}

{% block title %}{{ assessment_name }} - Math Insight{%endblock%}

{% block extrastyle %}
<link href="{{ STATIC_URL }}mitesting/miquestion.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}micourses/micourse.css" rel="stylesheet" type="text/css"/>
<meta name="description" content="{{ assessment.description}}"/>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/ajaxcsrf.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: false } },
         SVG: { linebreaks: { automatic: false } }
});
</script>

{% block extrastyle2 %}{% endblock %}
{% endblock %}

{% block rightcolumn %}
{% if thread_content %}
<a id="threads" class="anchor"></a>
<section class="box threadbox">
<h4><a href="{% url 'mithreads:list' %}" class="normaltext">Thread navigation</a></h4>
<a id="thread_{{ thread_content.course.code }}" class="anchor"></a>
<h5 class="pre_list"><a href="{% url 'mithreads:thread' thread_content.course.code %}#s{{ thread_content.section.id }}" class="normaltext">{{  thread_content.course }}</a></h5>
<ul class="linklist">
  {% with thread_content.find_previous as previous_in_thread %}
  {% if previous_in_thread %}
  <li> Previous: {{ previous_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
  {% with thread_content.find_next as next_in_thread %}
  {% if next_in_thread %}
  <li> Next: {{ next_in_thread.return_link }}</li>
  {% endif %}
  {% endwith %}
</ul>
</section>
{% endif %}
{% if question_numbers %}<p>Question numbers: {{ question_numbers }}</p>{% endif %}
<p>{% if generate_course_attempt_link %}<a href="{% url 'miassess:generate_course_attempt' content_id=thread_content.id %}">Generate course-wide attempt</a><br/>
<small>Current seed: {{seed}}</small><br/>
{%endif%}
{% if show_solution_link %}<a href="{% url 'miassess:assessment_solution' course_code=assessment.course.code assessment_code=assessment.code %}?{{request.GET.urlencode}}">View solution</a>{%endif%}</p>

{%endblock%}
