{% extends "micourses/assessments/assessment.html" %}{% load question_tags %}

{% block scoretotals %}{% endblock %}
{% block instructions %}{% endblock %}


{% block questions %}
<ol class="assessment_questions"{% if question_only %}start="{{question_only}}"{%endif%}>
{% for solution in rendered_list %}
<li class="question{%if solution.question.css_class%} {{ solution.question.css_class }}{%endif%}">{% if solution.points %}({{solution.points}} point{{solution.points|pluralize_float}}){%endif%}
{% question_solution_body solution.question_data %}</li>
{% endfor %}
</ol>
{% endblock %}
