{% extends "micourses/assessments/assessment_base.html" %}
{% load question_tags %}

{% block extrastyle2 %}
<link href="{{ STATIC_URL }}css/miexam.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}{{ assessment_name }}{{ version_string }} - Math Insight{%endblock%}

{% block content %}
{% if not success %}
<section class="error">
<h4>Errors encountered</h4>
<p>{{error_message}}</p>
</section>
{% endif %}

<table class="examinfo"><tr><td>{{ course }}</td></tr>
<tr><td>{{ assessment_name }}{{ version_string }}</td></tr>
<tr><td>{{ assessment_date }}</td></tr>
</table>
<section class="exam_main">
<ol class="exam_solutions">
{% for solution in rendered_list %}
{% comment %}{% if not forloop.first %}{% new_exam_page %}{% endif %}{% endcomment %}
<li class="solution">{% if solution.points %}({{solution.points}} point{{solution.points|pluralize_float}}) {%endif%}
{% question_solution_body solution.question_data %}</li>
{% endfor %}
</ol>
</section>

{% endblock %}

