{% extends "micourses/assessments/assessment.html" %}
{% block extrastyle2 %}
<link href="{{ STATIC_URL }}css/narrowmargin.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block namesection %}
<section class="namesection">{% if assessment.name_section_override %}{{ assessment.render_name_section_override }}{% else %}<div class="nameblank">{% if course %}{{ course }}<br/>{%endif%}
Name:<br/>ID #:</div><div class="sectionblank">{% if thread_content %}Due date: {% if thread_content.get_adjusted_due %} {{thread_content.get_adjusted_due}}{% endif %}<br/>{%endif%}Table/group #:<br/>Group members:</div>{% endif %}</section>
{% endblock %}

