{% extends "mitesting/assessment_base.html" %}{% load testing_tags %}

{% block content %}
<h3>{{ assessment }}</h3>


<p>Generate an assessment</p>

<form action="{% url 'mit-assessmentavoidquestion' assessment.code %}" method="get">
<p>Seed: <input type="text" name="seed" ></p>
<p>Assessment date (defaults today): <input type="text" name="date"></p>
<p>Course: <input type="text" name="course"></p>
<p>Semester: <input type="text" name="semester"></p>
<p>Avoid list: <input type="text" name="avoid_list"></p>
<input type="submit" value="Generate" />
</form>

{% endblock %}
