{% extends "mitesting/assessment_base.html" %}
{% load testing_tags %}

{% block content %}
<div class="yma-grid">
  <div class="yma-g50 yma-gl">
    <div class="yma-gbox-left">
      <table class="examinfo"><tr><td>{{ course.short_name }}</td></tr>
	<tr><td>{{ course.semester }}</td></tr>
	<tr><td>{{ assessment_name }}{{version_string}}</td></tr>
	<tr><td>{{ assessment_date }}</td></tr>
	{% if assessment.time_limit%}<tr><td>Time limit: {{ assessment.time_limit }}</td></tr>{%endif %}
      </table>
    </div>
  </div>
  <div class="yma-g50 yma-gr">
    <div class="yma-gbox-right">
      <table class="examstudentinfo">
	<tr><td class="examlabel">Name (print):</td><td class="blank"></td></tr>
	<tr><td class="examlabel">Student ID:</td><td class="blank"></td></tr>
	<tr><td class="examlabel">Section: </td><td class="blank"></td></tr>
	<tr><td class="examlabel">TA: </td><td class="blank"></td></tr>
	<tr><td class="examlabel">Signature: </td><td class="blank"></td></tr>
      </table>
    </div>
  </div>
</div>
<section class="exam_instructions">
{{ assessment.render_instructions }}
</section>
<div class="yma-grid">
  <div class="yma-g50 yma-gl">
    <div class="yma-gbox-left">
{{ assessment.render_instructions2 }}
    </div>
  </div>
  <div class="yma-g50 yma-gr">
    <div class="yma-gbox-right">
<table class="question_scores">
{% for question in question_list %}
<tr><td class="examlabel">{{ forloop.counter }}</td><td class="points">{% if question.points %}{{question.points }} pts{%endif%}<td class="blank"></td></tr>
{% endfor %}
 <tr><td class="examlabel">Total</td><td class="points">{{ assessment.total_points }} pts</td><td class="blank"></td></tr>
</table>
   </div>
  </div>
</div>
<section class="exam_main">
<ol class="exam_questions">
{% for question in question_list %}
{% new_exam_page %}
<li class="question{%if question.question.css_class%} {{ question.question.css_class }}{%endif%}">{% if question.points %}({{question.points}} points) {%endif%}{{ question.question_text }}</li>
{% endfor %}
</ol>
</section>

{% endblock %}

