{% extends "mitesting/assessment_base.html" %}
{% load mi_tags %}

{% block title %}Question: {{ the_question }}, version {{ version }} - Math Insight{%endblock%}
{% block content %}

<h3>Question: {{ the_question }}</h3>

<h4>Question</h4>

{{ rendered_question }}

<h4>Solution</h4>
{{ rendered_solution }}


{% endblock %}

{% block rightcolumn %}
{% if show_lists %}
<ul class="linklist">
<li><a href="{% url 'mit-questionlist' %}">List of all questions</a></li>
<li><a href="{% url 'mit-assessmentlist' %}">List of all assessment</a></li>
</ul>
{% endif %}
{%endblock%}
